@charset "utf-8";

/* pc(mobile view) */

/* colunns 4 / gutters 16 ---------------- */
/* handset */ 
@media all and (max-width:599px) and (orientation:portrait) {
    body:after{content:"handset"; display:block; position:fixed; bottom:0; right:0; padding:5px; background:#000; color:#fff; font-size:12px; z-index:1000; opacity:0.5}

    .item-view-cont .view-txt br{display:none}
    .btn-base{width:100%}

    
}
/* small handset */ 
@media all and (max-width:359px) {
    body:after{content:"small handset"; display:block; position:fixed; bottom:0; right:0; padding:5px; background:#000; color:#fff; font-size:12px; z-index:1000; opacity:0.5}

    .main-news .owl-carousel{padding-top:35px}
    .main-news .owl-carousel a{font-size:10px; font-weight:500; line-height: 15px; }
    .btn-base{width:100%}

    .ui-tab.type-service .ui-tab-btn i{display:inline-block; width:100%; margin-top:10px; color:#a0a0a0; font-weight:600; line-height:1.2; letter-spacing: -0.07em; font-size:11px}
    
}
/* small handset landscape */ 
@media all and (max-width:599px) and (orientation:landscape) { 
    body:after{content:"small handset landscape"; display:block; position:fixed; bottom:0; right:0; padding:5px; background:#000; color:#fff; font-size:12px; z-index:1000; opacity:0.5}

    .btn-base{width:100%}
    
}

/* colunns 8 / gutters 16 ---------------- */
/* tablet & handset landscape */ 
@media all and (max-width:959px) and (orientation:landscape) { 
    body:after{content:"tablet & handset landscape"; display:block; position:fixed; bottom:0; right:0; padding:5px; background:#000; color:#fff; font-size:12px; z-index:1000; opacity:0.5}
}
/* tablet  */ 
@media all and (min-width:600px) and (max-width:1112px) and (orientation:portrait) {
    body:after{content:"tablet"; display:block; position:fixed; bottom:0; right:0; padding:5px; background:#000; color:#fff; font-size:12px; z-index:1000; opacity:0.5}
}


/* colunns 12 / gutters 24  ---------------- */
/* tablet landscape */ 
@media all and (min-width:960px) and (max-width:1439px) and (orientation:landscape) {
    body:after{content:"tablet landscape"; display:block; position:fixed; bottom:0; right:0; padding:5px; background:#000; color:#fff; font-size:12px; z-index:1000; opacity:0.5}

    .base-footer{width:100%; margin:0 auto; padding:25px 0; background:#1b1b1b; text-align: center; color:#fff; font-size:14px; line-height:20px; }
    .footer-wrap{width:100%; max-width:1120px; max-width:1120px; margin:0 auto; overflow: hidden}
    .base-footer address{font-style:normal; letter-spacing:1px; font-weight: 200;}
    .base-footer address b{font-weight: 600}
    .footer-copy{font-style:normal; letter-spacing:1px; font-weight: 200; margin-top:5px; font-size:12px}

    .base-header{min-height:190px; transition:min-height 0.2s; overflow: hidden;box-shadow: none}
    .header-wrap{width:100%; max-width:1120px}
    .header-wrap .logo{left:50%; margin-left:-124px; top:48px; width:247px; height:30px; background:url(/img/common/logo.png) no-repeat 0 0; background-size:cover; transition:top 0.2s}
     
    .base-header.on{min-height:380px; box-shadow: 0 0 20px rgba(0,0,0,0.2)}
    .base-header.on .gnb-dep2{display:block; position:absolute;}
    .gnb-wrap .btn-close,
    .header-wrap .btn-menu{display:none}

    .gnb-wrap{display:block; width:100%; position: absolute; top:120px; transition:top 0.2s;right:0; padding:0; height:auto;}
    .gnb-dep1{width:100%; text-align:center;padding-bottom:40px;}
    .gnb-dep1 > li{display:inline-block; position: relative; transition:all 0.15s}
    .gnb-dep1 > li > a{display:block; padding:0 25px; font-size:16px; letter-spacing:1px; color:#1b1b1b; text-decoration:none; font-weight:600}
    .gnb-dep1 > li > a:hover,
    .gnb-dep1 > li > a:focus{color:red}
    .gnb-dep1 > li:nth-child(2) > a:hover,
    .gnb-dep1 > li:nth-child(2) > a:focus{color:#f2c200}
    .gnb-dep1 > li:nth-child(3) > a:hover,
    .gnb-dep1 > li:nth-child(3) > a:focus{color:#6b3bc0}
    .gnb-dep1 > li:nth-child(4) > a:hover,
    .gnb-dep1 > li:nth-child(4) > a:focus{color:#3d47da}
    .gnb-dep1 > li:nth-child(6) > a:hover,
    .gnb-dep1 > li:nth-child(6) > a:focus{color:#f0991e}
    

    .util-menu{position: absolute; top:48px; right:9px; overflow: hidden;display:block; opacity: 1;}
    .util-menu a{display:block; float:left}
    .btn-search{width:30px; height:30px; background:url(/img/common/ico_search.png) no-repeat}
    .btn-facebook{width:30px; height:30px; background:url(/img/common/ico_facebook.png) no-repeat; margin-left:17px}

    .base-body{margin-top:190px; transition: margin 0.4s ease-in}
    .gnb-wrap{display:block; width:100%; position: absolute; top:120px; transition:top 0.2s; right:0; padding:0; height:auto;}

    .gnb-dep2{display:none; width:100%; margin-top:10px; padding-bottom:80px}
    .gnb-dep2 a{color:#1b1b1b; font-size:14px; font-weight: 200; width:100%; display:block; margin:25px 0; text-align: center; text-decoration: none; letter-spacing: 1px}
    .gnb-dep2 a:hover,
    .gnb-dep2 a:focus{font-weight: 600; letter-spacing: 0}

    .gnb-wrap .btn-close,
    .header-wrap .btn-menu{display:none}

    .type-mini .base-header.on{min-height:190px;}
    .type-mini .gnb-dep2{padding-bottom:40px}
    .type-mini .header-wrap{height:50px}
    .type-mini .gnb-dep1{padding-bottom:14px;}

    .type-mini .base-header{min-height:50px; box-shadow: 0 0 20px rgba(0,0,0,0.2)}
    .type-mini .header-wrap .logo{top:18px; left:30px; margin-left:0; width:106px; height:12px; background:url(/img/common/logo_m.png) no-repeat 0 0; background-size:cover}
    .type-mini .gnb-wrap{top:12px; right:100px; width:auto}
    .type-mini .gnb-dep1 > li > a{padding:0 17px; font-size:16px; }
    .type-mini .util-menu{top:8px}
    .type-mini .base-body{margin-top:50px;}

    .ui-m .base-header{position:fixed; width:100%; top:0; left:0; min-height:50px; background:#fff; z-index:10}
    .ui-m .header-wrap{width:100%; height:100%; margin:0 auto; position:relative;}
    .ui-m .header-wrap .logo{position:absolute; left:15px; top:19px; width:106px; height:12px; background:url(/img/common/logo_m.png) no-repeat 0 0; background-size:cover; margin-left:0;}
    .ui-m .gnb-wrap{position:fixed; display:none; right:-230px; width:230px; height:100%; z-index:100; background:#fff; padding:60px 30px !important; transition:right 0.15s ease-in}
    .ui-m .base-header.ready .util-menu,
    .ui-m .base-header.ready .gnb-wrap{display:block;}
    .ui-m .base-header.open .gnb-wrap{display:block; top:0; right:0; }
    .ui-m .gnb-bg{position:fixed; right:-110%; width:100%; height:100%; background:#000; z-index: 99; opacity:0; transition:opacity 0.15s ease-in}
    .ui-m .base-header.open .gnb-bg{top:0; right:0; opacity:0.7}
    .ui-m .gnb-dep2{display:none}
    .ui-m .gnb-dep1-btn{display:block; width:100%; text-decoration:none; color:#1b1b1b; font-size:16px; font-weight:600; padding:10px 0 !important}
    .ui-m .util-menu{display:none; opacity:0; position: absolute; top:11px; right:-200px; overflow: hidden; z-index:1000; transition:right 0.15s ease-in, opacity 0.15s ease-in}
    .ui-m .base-header.open .util-menu{display:block; opacity:1; right:63px;}
    .ui-m .util-menu a{display:block; float:left}
    .ui-m .btn-search{width:30px; height:30px; background:url(/img/common/ico_search.png) no-repeat}
    .ui-m .btn-facebook{width:30px; height:30px; background:url(/img/common/ico_facebook.png) no-repeat; margin-left:17px}
    .ui-m .btn-close{position: absolute; top:15px; right:20px;}
    .ui-m .btn-close:before,
    .ui-m .btn-close:after{background:#000}
    .ui-m .base-body{margin-top:50px; width:100%}
    .ui-m .gnb-wrap .btn-close,
    .ui-m .header-wrap .btn-menu{display:block}
    .ui-m .gnb-dep1 > li {width:100%; display:block; text-align: left;}

    /* main */
    .main-wrap{position:relative; width:100%; max-width:1120px; min-width:1120px; margin:0 auto; }
    .main-wrap:after{content:""; display:block; clear:both}
    .main-visual{float:left; width:100%;}
    .main-pof,
    .main-img{float:left; width:25%}
    .main-pof img,
    .main-img img{width:100%; display:block;}
    .main-pof a,
    .main-img a{display:block;}
    .main-row{float: none;}
    .main-pof.col-2{width:50%}
    .main-news{position:relative; float:left; min-width:25%; max-width:25%; padding-bottom:25%; background:#3d47da}
    .main-client{position:relative; float:left; min-width:25%; max-width:25%; padding-bottom:25%; background:#fff}

    .main-news .owl-carousel .owl-dot{background:#fff !important}
    .main-news .owl-carousel .owl-dots{display:block}
    .main-square .owl-carousel .owl-dots{position: absolute; bottom:30px; width:100%; text-align: center}
    .main-square .owl-carousel .owl-dot{width:8px; height:8px; border-radius:4px; background:#000; opacity:0.3; margin:0 6px}
    .main-square .owl-carousel .owl-dot.active{opacity:1}

    .main-square h3{position:absolute; font-size:23px; letter-spacing:0.05em; padding:20px 30px 0; font-weight: 600; z-index:10;}
    .main-news .owl-carousel{padding-top:80px;}
    .main-news .owl-carousel a{display:block; width:100%; font-size:18px; color:#fff; font-weight:600; letter-spacing: 0; word-break: keep-all; line-height: 32px; padding:0 30px;}
    .main-news .owl-carousel .news-date{display:block; font-size:12px; font-weight: 100; padding:0 30px; color:#fff; margin-bottom:10px; opacity:0.6; letter-spacing: 1px}

    .main-client .btn-more{background:url(/img/common/btn_more2.png) no-repeat 0 0; background-size:cover}

    .btn-more{position:absolute; top:30px; right:30px; width:14px; height:14px; z-index: 10; background:url(/img/common/btn_more.png) no-repeat 0 0; background-size:cover}

    .main-wrap{height:1400px}
    [class*="square-"]{position:absolute;}
    .square-0{top:0; left:0}
    .square-1{top:560px; left:0; z-index: 1;}
    .square-2{top:840px; left:840px; z-index: 1;}
    .square-3{top:560px; left:840px; z-index: 1;}
    .square-4{top:840px; left:560px; z-index: 1;}
    .square-5{top:560px; left:280px; }
    .square-6{top:840px; left:280px; z-index: 1;}
    .square-7{top:840px; left:0; z-index: 1;}
    .square-8{top:1120px; left:280px; z-index: 1;}
    .square-9{top:1120px; left:560px; z-index: 1;}
    .square-10{top:1120px; left:0; z-index: 1;}

    .square-0{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 0.3s ease-in;}
    .square-1{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 0.6s ease-in;}
    .square-2{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 0.9s ease-in;}
    .square-3{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 1.2s ease-in;}
    .square-4{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 1.5s ease-in;}
    .square-5{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 1.8s ease-in;}
    .square-6{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 2.1s ease-in;}
    .square-7{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 2.4s ease-in;}
    .square-8{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 2.7s ease-in;}
    .square-9{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 3.0s ease-in;}
    .square-10{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 3.3s ease-in;}

    /* Portfolio */
     .tit-wrap{width:100%; height:200px; text-align: center; color:#fff; font-size:40px; padding-top:70px; letter-spacing:2px; font-weight:600;}


    .ui-tab-btns{width:100%; text-align: left}
    .ui-tab-btn{padding:10px 8px 5px; min-height:40px; border-left:0; font-size:20px; margin:0 25px; font-weight: 200; letter-spacing: 2px; outline:none; color:#1b1b1b;}
    .ui-tab-btn i{border:0 !important}
    .ui-tab-btn:focus,
    .ui-tab-btn.selected{color:#000; font-weight:600; letter-spacing:0; border-bottom:3px solid #6b3bc0}
    .ui-tab-pnl{width:100%; padding:0; top:0; left:0; } 

    .list-item{width:100%; padding:0 15px; margin-top:50px; }
    .list-item:after{content:""; display:block; clear:both}
    .list-item li{float:left; width:calc(50% - 10px); position: relative;}
    .list-item li:nth-child(2n){float:right}
    .list-item-img{ width:100%; position: relative; overflow: hidden; background:#000; }
    .list-item-img img{display:block;width:100%; transition:opacity 0.3s ease-in}
    .list-item li:hover .list-item-img img{opacity:0.5}
    .list-item li:hover .list-item-sns{opacity:1}
    .list-item-sns{position: absolute; opacity:0; top:0; left:0; width:100%; margin-top:23%; text-align:center; transition:opacity 0.3s ease-in}
    .list-item-sns:before,
    .list-item-sns:after{content:""; display:inline-block; width:20%; border-top:1px solid #fff; opacity:0.2; margin:0 20px; vertical-align: middle }
    .list-item-sns a{display:inline-block; margin:0 8px; vertical-align: middle;}
    .list-item-sns .ico-tw{width:44px; height:44px; background:url(/img/content/sns_tw.png) no-repeat 0 0;}
    .list-item-sns .ico-fb{width:44px; height:44px; background:url(/img/content/sns_fb.png) no-repeat 0 0;}
    .list-item-sns .ico-lk{width:44px; height:44px; background:url(/img/content/sns_lk.png) no-repeat 0 0;}
    .list-item li > a{display:block; width:100%;}
    .list-item-info{width:100%; position: relative; overflow: hidden; margin-top:15px; color:#1b1b1b}
    .list-item-info span{display:block;}
    .list-item-info .n1{font-size:18px}
    .list-item-info .n2{float:right; font-size:14px; letter-spacing: 0; font-weight: 200}
    .list-item-info strong{float:left;display:block; width:100%; font-size:26px; margin-top:12px; letter-spacing: 1px; font-weight:700; height:90px;}
    .list-item-info strong i{padding-bottom:2px; display:inline; border-bottom:2px solid #fff}
    a:focus .list-item-info strong i,
    a:hover .list-item-info strong i{padding-bottom:2px; border-bottom:2px solid #6b3bc0}
    .type-news a:focus .list-item-info strong i,
    .type-news a:hover .list-item-info strong i{padding-bottom:2px; border-bottom:2px solid #3d47da}

    .search-wrap{position:absolute; top:0; right:0; width:320px; height:46px; background:#f5f5f5;  padding:11px 15px; margin-bottom:0}
    .search-wrap input{border:0; width:250px; background:transparent}
    .search-wrap .btn-search{position: absolute; top:7px; right:5px;}
    .type-news .search-wrap{position:relative; float:right; margin:0 15px 50px;}
    .type-news .list-item{clear:both}


    .item-view{background:#f5e9d6;padding-bottom:70px}
    .item-view-head{background-size:cover; padding-bottom:33%; background-position:50% 0; min-height:650px}
    .item-view-head h2{position:absolute; display:block; top:0; padding-top:280px; font-size:40px; width:100%; text-align: center; color:#fff; line-height: 1.5; font-weight:100}
    .item-view-head h2 strong{font-weight:700}
    .item-view-body{position:relative; max-width:1400px; width:100%; margin:0 auto; background:#fff; padding:50px 90px; margin-top:-130px; min-height:500px; box-shadow: 0 5px 20px rgba(0,0,0,0.2)}
    .type-news .item-view-body{margin-top:0}
    .item-view-info{position:relative; width:100%; border-bottom:1px solid #eee; padding-bottom:50px;}
    .item-view-info dl{width:100%; padding-right:300px; padding-top:20px; overflow: hidden;}
    .item-view-info dt{width:100px; float:left; clear:left; margin-bottom:25px; font-size:16px; font-weight: 600; letter-spacing:1px; line-height: 28px}
    .item-view-info dd{width:770px; float:left;margin-bottom:25px; color:#1b1b1b; font-size:16px; letter-spacing:1px; line-height: 28px}

    .item-view-info dd span{font-size:14px; display:inline-block; vertical-align: middle; margin-right:20px; color:#707070}
    .item-view-info dd span img{display:inline-block; vertical-align: middle; margin-right:5px}
    .item-view-info .item-view-sns {text-align:right;bottom:75px;top:auto}

    .btn-website{position:absolute; top:0; right:0; color:#fff; display:block; width:260px; text-align: center; height:60px; background:#6b3bc0; line-height: 58px; font-weight: 600; letter-spacing: 1px; text-decoration: none}
    .item-view-sns{position:absolute; top:114px; right:0; }
    .item-view-sns a{display:inline-block; margin:0 4px; }
    .item-view-sns .ico-tw{width:34px; height:34px; background:url(/img/content/btn_tw.png) no-repeat 0 0;}
    .item-view-sns .ico-fb{width:34px; height:34px; background:url(/img/content/btn_fb.png) no-repeat 0 0;}
    .item-view-sns .ico-lk{width:34px; height:34px; background:url(/img/content/btn_lk.png) no-repeat 0 0;}

    .type-news.item-view{background:#fff;}
    .type-news .item-view-body{box-shadow: none; padding:100px 30px 0; width:100%}
    .type-news .item-view-info{padding-bottom:0px;}
    .type-news .item-view-info h2{width:100%; font-size:36px; text-align:center; margin-bottom:40px;}
    .type-news .item-view-info .date{display:inline-block; font-size:16px; width:100%; text-align:center; font-weight:200; margin-bottom:20px}
    .type-news .item-view-sns{position:relative; top:0; right:0;}
    .type-news .item-view-cont .view-txt{font-size:20px; margin-top:100px}
    .type-news .item-view-cont{border-bottom:2px solid #1b1b1b}
    .type-news .btn-wrap{padding:60px 0 135px}

    .item-view-list{position:relative; width:100%; padding:80px 0 ; border-top:1px solid #eee; }
    .item-view-list .tit{position:absolute; top:-17px; left:50%; display:block; text-align:center; background:#fff; font-size:20px; letter-spacing: 1px; font-weight: 600; width:220px; margin-left:-110px;}
    .item-view-list .list-item{margin-top:0 !important; padding:0}

    .item-view-cont{position:relative; width:100%; text-align:center; padding:0 0 100px; font-size:30px}

    .item-view-link{position:relative; width:100%; padding:80px 0; border-top:1px solid #eee; text-align:center; }
    .item-view-link .tit{position:absolute; top:-12px; left:50%; display:block; text-align:center; background:#fff; font-size:14px; letter-spacing: 1px; font-weight: 600; margin-left:-45px; width:90px}
    .item-view-link a{display:inline-block; font-size:20px; color:#1b1b1b; letter-spacing: 1px}
    .item-view-link a > *{display:inline-block; width:100%; }
    .item-view-link a strong{font-size:30px; color:#6b3bc0; font-weight:700}
    .item-view-link a i{display:inline-block;border-bottom:2px solid #6b3bc0;}

    .item-view-cont .view-move,
    .item-view-cont .view-img,
    .item-view-cont .view-txt{width:100%; font-size:30px; line-height:1.6; font-weight: 200; margin-top:100px}
    .item-view-cont .view-txt strong{font-weight: 700}
    .item-view-cont .view-txt dl{font-size:22px; margin-top:30px}
    .item-view-cont .view-txt dl + dl{ margin-top:30px}
    .item-view-cont .view-txt dt{font-weight: 700}
    .item-view-cont .view-move{position: relative; width:100%; padding-bottom:56%; }
    .item-view-cont .view-move iframe{position: absolute; top:0; left:0;}
    .item-view-cont .view-img img{width:100%;}

    .view-tag{width:100%; text-align:center; margin:100px 0 30px;}
    .view-tag span{display:inline-block; padding:0 15px; background:#f7f7f7; height:44px; line-height:42px; color:#3b5997; font-size:20px; font-weight: 200}

    .item-view-list{position:relative; width:100%; padding:40px 0 ; border-top:1px solid #eee; }
    .item-view-list .tit{position:absolute; top:-17px; left:50%; display:block; text-align:center; background:#fff; font-size:12px; letter-spacing: 1px; font-weight: 600; width:220px; margin-left:-110px;}
    .item-view-list .list-item{margin-top:0 !important; padding:0}

    .view-tag{width:100%; text-align:center; margin:50px 0 15px;}
    .view-tag span{display:inline-block; padding:0 7px; background:#f7f7f7; height:24px; line-height:22px; color:#3b5997; font-size:12px; font-weight: 200}

    .type-search .search-wrap{position: relative; padding:70px 0;  background:transparent; width:100%; height:auto;}
    .type-search .search-inp{position: relative; width:600px; height:60px; border:3px solid #1b1b1b; background:#fff; margin:0 auto;}
    .type-search .search-inp input{background:#fff; font-size:26px; color:#1b1b1b; font-weight: 500; margin:7px 0 0 20px; width:510px; padding:0}
    .type-search .search-inp .btn-search{width:54px; height:54px; background:#1b1b1b url(/img/common/ico_search2.png) no-repeat 50% 50%; top:0; right:0; background-size:34px}
    .search-txt{width:100%; text-align: center; font-size:20px; color:#1b1b1b; font-weight: 200; margin-top:45px;}
    .search-txt b{font-weight: 700; color:#f39800;}

    .search-result{border-top:2px solid #1b1b1b; width:100%; padding:45px 0;}
    .search-result h3{font-size:30px; font-weight: 700; color:#1b1b1b; padding-left:15px}
    .search-result h3 b{font-weight: 700; color:#f39800;}

    .list-none{width:100%; padding:100px 0; font-size:26px; color:#1b1b1b; text-align:center}

    .base-main.type-client{background:#f7f7f7}
    .inner-wrap.type-client{overflow:hidden;}
    .list-client{width:100%; font-size:0; position:relative; left:0; margin-top:50px;text-align:left;}
    .list-client li{display:inline-block; width:18%; margin:0 1% 2% ; }
    .list-client li img{width:100%;}

    .inner-wrap.type-contact{padding:0 15px;}
    .contact-info{width:100%; overflow:hidden; margin-top:50px; }
    .contact-info dl{float:left; width:50%;}
    .contact-info dt{font-size:22px; width:100%; font-weight:700; height:40px; color:#1b1b1b}
    .contact-info dd{font-size:18px; width:100%; color:#1b1b1b; height:40px}
    .contact-info dd + dd{font-size:16px; width:100%; font-weight:200;}
    .contact-info ul{float:right; width:40%; font-size:16px; font-weight:200;}
    .contact-info li span{display:inline-block; width:50px; vertical-align:middle}
    .contact-info li b{display:inline-block;font-size:16px; font-weight: 700; vertical-align:middle;}
    .contact-info li{width:100%; height:40px;}

    .map-wrap{width:100%; background:#f5f5f5; height:630px; margin:60px 0 70px;}

    .ui-tab.type-service{width:100%; text-align:center; margin:70px 0;}
    .ui-tab.type-service .ui-tab-btns{text-align:center; font-size:0}
    .ui-tab.type-service .ui-tab-btn{text-align:center;max-width:25%; min-width:25%; margin:0; letter-spacing: 1px}
    .ui-tab.type-service .ui-tab-btn > span{display:inline-block; width:140px; height:140px; border-radius:70px; background:transparent url(/img/content/ico_service.png) no-repeat 0 0; transition:background-color 0.3s ease-in}
    .ui-tab.type-service .ui-tab-btn i{display:inline-block; width:100%; margin-top:30px; color:#a0a0a0; font-weight:600; line-height:1.2; font-size:20px; letter-spacing: 1px}
    .ui-tab.type-service .ui-tab-btn:hover,
    .ui-tab.type-service .ui-tab-btn:focus,
    .ui-tab.type-service .ui-tab-btn.selected{border:0 !important; letter-spacing: 1px}
    .ui-tab.type-service .ui-tab-btn.selected > span{background-color:#f2c200;}
    .ui-tab.type-service .ui-tab-btn.selected > i{color:#1b1b1b}
    .ui-tab.type-service .ui-tab-btn .icon-1{background-position:0 0}
    .ui-tab.type-service .ui-tab-btn .icon-2{background-position:-140px 0}
    .ui-tab.type-service .ui-tab-btn .icon-3{background-position:-280px 0}
    .ui-tab.type-service .ui-tab-btn .icon-4{background-position:-420px 0}
    .ui-tab.type-service .ui-tab-btn.selected .icon-1{background-position:0 -140px}
    .ui-tab.type-service .ui-tab-btn.selected .icon-2{background-position:-140px -140px}
    .ui-tab.type-service .ui-tab-btn.selected .icon-3{background-position:-280px -140px}
    .ui-tab.type-service .ui-tab-btn.selected .icon-4{background-position:-420px -140px}
    .ui-tab.type-service .ui-tab-pnls{margin-top:80px;}
    .ui-tab.type-service .ui-tab-pnl{background:#f7f7f7; font-size:20px; color:#1b1b1b; line-height:1.5; text-align: left; }

    .service-tit{width:100%; height:auto; background:url(/img/content/bg_service1.jpg) no-repeat 0 0; background-size:cover; padding:50px; }
    .service-tit .ui-tab-tit{font-size:60px; color:#fff; font-weight:700; letter-spacing: 1px; line-height:1.2; }
    .service-tit p{margin-top:50px; letter-spacing: 1px; line-height:1.5; font-size:20px; color:#fff; font-weight:200;}
    .service-tit .ui-tab-tit:after{content:""; display:inline-block; vertical-align: baseline; margin-left:20px; width:400px; height:6px; background:#f2c200;}
    .service-ol{position:relative; top:0; background:#fff; width:100%; margin:0 auto; padding:30px 30px 10px; font-size:0; box-shadow: 10px 10px 15px rgba(0,0,0,0.1)}
    .service-ol ol{vertical-align:top; display:inline-block; width:33.33%; font-size:14px; letter-spacing:1px;}
    .service-ol li{height:50px; width:100%;}
    .service-ol li b{font-weight:600}
    .service-ol em{font-size:12px; color:#f2c200; width:30px; display:inline-block; vertical-align:top; padding-top:0;}
    .service-txt{width:100%; padding:50px; text-align: left; font-weight:200; font-size:20px;}
    .service-txt p + p{margin-top:40px; letter-spacing:0}
    .service-txt p br{display:none;}
    .service-tit p br{display:block;}

    .about-visual{width:100%; height:500px; background:url(/img/content/bg_overview.jpg) no-repeat 50% 0; background-size:cover;}
    .about-visual .inner-wrap{padding:110px 90px 0; }
    .about-visual .inner-wrap h2{color:#fff; font-size:60px; font-weight:500; line-height: 1.2}
    .about-wrap{padding:130px 90px}
    .about-text{position:relative; padding-left:25%; width:100%; font-size:20px; line-height:2; font-weight:200}
    .about-text:before{content:""; display:block; width:20%; height:6px; background:#ff4d53; position: absolute; top:15px; left:0;}
    .about-text br{display:none;}
    .about-idea{margin-top:140px; width:100%; text-align:left; font-size:0;}
    .about-idea dl{display:block; width:100%; font-size:18px; line-height:1.7; font-weight:200; text-align: left; margin-left:0; padding-left:220px; position:relative;min-height:200px; margin-bottom:50px}
    .about-idea dt{font-size:48px; font-weight:700; letter-spacing:1px; line-height: 1.2; margin-bottom:20px;}
    .about-idea dl br{display:none}
    .about-idea dl:first-child{margin-left:0}
    .about-idea dt:before{content:""; display:block; position:absolute; top:0; left:0; width:190px; height:190px; border-radius:95px; background:#ff4d53 url(/img/content/ico_overview.png) no-repeat 0 0; margin-bottom:65px;}
    .about-idea .n1 dt:before{background-position:0 0}
    .about-idea .n2 dt:before{background-position:-200px 0}
    .about-idea .n3 dt:before{background-position:-400px 0}

    .philosophy-list{width:100%; text-align:center; padding-bottom:80px;}
    .philosophy-list dl{margin-top:80px;}
    .philosophy-list dt{width:100%; font-size:30px;}
    .philosophy-list dt em{width:100%; display:inline-block; color:#e5e5e5; font-size:60px; letter-spacing:1px;}
    .philosophy-list dt strong{display:inline-block;}
    .philosophy-list dt span{display:inline-block; padding:0 30px;}
    .philosophy-list dt strong:before,
    .philosophy-list dt strong:after{content:""; display:inline-block; width:100px; height:6px; background:#ff4d53; vertical-align:middle}
    .philosophy-list dd{margin-top:20px; font-size:16px; font-weight: 200;}
    .philosophy-list dd strong{font-size:24px; font-weight: 400}
    .philosophy-list dd strong b{font-weight: 600;}
    .philosophy-list dd p{margin-top:25px;}
    .philosophy-list dd p br{display:block}

}


/* desktop */ 
@media all and (min-width:1400px) {
    .ui-d body:after{content:"desktop"; display:block; position:fixed; bottom:0; right:0; padding:5px; background:#000; color:#fff; font-size:12px; z-index:1000; opacity:0.5}

    .base-header{min-height:160px; transition:min-height 0.2s; overflow:hidden; box-shadow: none}
    .header-wrap{width:100%; max-width:1400px; height:160px; transition:height 0.2s}
    .header-wrap .logo{left:50%; margin-left:-124px; top:38px; z-index:101; width:247px; height:30px; background:url(/img/common/logo.png) no-repeat 0 0; background-size:cover; transition:top 0.2s ease-in}

    .base-header.on{min-height:280px; box-shadow: 0 0 20px rgba(0,0,0,0.2)}
    .base-header.on .gnb-dep2{display:block; position:absolute;}
    /* .gnb-bg{position: absolute; bottom:-190px; left:0; width:100%; min-height:190px; background:red} */

    .util-menu{position: absolute; top:38px; right:9px; overflow: hidden; display:block; opacity: 1;}
    .util-menu a{display:block; float:left}
    .btn-search{width:30px; height:30px; background:url(/img/common/ico_search.png) no-repeat}
    .btn-facebook{width:30px; height:30px; background:url(/img/common/ico_facebook.png) no-repeat; margin-left:17px}

    .gnb-wrap{display:block; width:100%; position: absolute; top:109px; transition:top 0.2s; right:0; padding:0; height:auto;}
    .gnb-dep1{width:100%; text-align:center; padding-bottom:40px;}
    .gnb-dep1 > li{display:inline-block; position: relative; transition:all 0.15s}
    .gnb-dep1 > li > a{display:block; padding:0 50px; font-size:18px; letter-spacing:1px; color:#1b1b1b; text-decoration:none; font-weight:600}
    .gnb-dep1 > li > a:hover,
    .gnb-dep1 > li > a:focus{color:red}
    .gnb-dep1 > li:nth-child(2) > a:hover,
    .gnb-dep1 > li:nth-child(2) > a:focus{color:#f2c200}
    .gnb-dep1 > li:nth-child(3) > a:hover,
    .gnb-dep1 > li:nth-child(3) > a:focus{color:#6b3bc0}
    .gnb-dep1 > li:nth-child(4) > a:hover,
    .gnb-dep1 > li:nth-child(4) > a:focus{color:#3d47da}
    .gnb-dep1 > li:nth-child(6) > a:hover,
    .gnb-dep1 > li:nth-child(6) > a:focus{color:#f0991e}

    .gnb-dep2{display:none; width:100%; margin-top:10px; padding-bottom:80px}
    .gnb-dep2 a{color:#1b1b1b; font-size:14px; font-weight: 200; width:100%; display:block; margin:25px 0; text-align: center; text-decoration: none; letter-spacing: 1px; padding-left:0}
    .gnb-dep2 a:hover,
    .gnb-dep2 a:focus{font-weight: 600; letter-spacing: 0}
    .base-body{margin-top:160px; transition: margin 0.4s ease-in}
    .gnb-wrap .btn-close,
    .header-wrap .btn-menu{display:none}

    .type-mini .base-header{min-height:100px; box-shadow: 0 0 20px rgba(0,0,0,0.2)}
    .type-mini .base-header.on{min-height:190px;}
    .type-mini .gnb-dep2{padding-bottom:40px}
    .type-mini .header-wrap{height:100px}
    .type-mini .header-wrap .logo{top:30px; left:0; margin-left:0}
    .type-mini .gnb-wrap{top:32px; width:auto; left:180px}
    .type-mini .gnb-dep1 > li > a{padding:0 30px;}
    .type-mini .util-menu{top:30px}
    .type-mini .base-body{margin-top:100px;}
  
    /* main */
    .main-wrap{position:relative; width:100%; max-width:1400px; margin:0 auto; margin-bottom:70px}
    .main-wrap:after{content:""; display:block; clear:both}
    .main-visual{float:left; width:80%;}
    .main-pof,
    .main-img{float:left; width:20%}
    .main-pof img,
    .main-img img{width:100%; display:block;}
    .main-pof a,
    .main-img a{display:block;}
    .main-row{float: none;}
    .main-pof.col-2{width:40%}
    .main-news{position:relative; float:left; min-width:20%; max-width:20%;  padding-bottom:20%; background:#3d47da}
    .main-client{position:relative; float:left; min-width:20%; max-width:20%; padding-bottom:20%; background:#fff}

    .main-news .owl-carousel .owl-dot{background:#fff !important}
    .main-news .owl-carousel .owl-dots{display:block}
    .main-square .owl-carousel .owl-dots{position: absolute; bottom:30px; width:100%; text-align: center}
    .main-square .owl-carousel .owl-dot{width:8px; height:8px; border-radius:4px; background:#000; opacity:0.3; margin:0 6px}
    .main-square .owl-carousel .owl-dot.active{opacity:1}

    .main-square h3{position:absolute; font-size:23px; letter-spacing:0.05em; padding:20px 30px 0; font-weight: 600; z-index:10;}
    .main-news .owl-carousel{padding-top:80px;}
    .main-news .owl-carousel a{display:block; width:100%; font-size:20px; color:#fff; font-weight:400; letter-spacing: 0; word-break: break-all !important; line-height: 32px; padding:0 30px;max-height:128px;overflow:hidden}
    .main-news .owl-carousel .news-date{display:block; font-size:12px; font-weight: 100; padding:0 30px; color:#fff; margin-bottom:10px; opacity:0.6; letter-spacing: 1px}
    .main-wrap{height:1120px}
    [class*="square-"]{position:absolute;}
    .square-0{top:0; left:0; height:560px}
    .square-1{top:0; left:1120px; z-index: 1;}
    .square-2{top:280px; left:1120px; z-index: 1;}
    .square-3{top:560px; left:1120px; z-index: 1;}
    .square-4{top:560px; left:840px; z-index: 1;}
    .square-5{top:560px; left:280px; }
    .square-6{top:840px; left:280px; z-index: 1;}
    .square-7{top:560px; left:0; z-index: 1;}
    .square-8{top:840px; left:560px; z-index: 1;}
    .square-9{top:840px; left:840px; z-index: 1;}
    .square-10{top:840px; left:0; z-index: 1;}

    .square-0{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 0.3s ease-in;}
    .square-1{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 0.6s ease-in;}
    .square-2{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 0.9s ease-in;}
    .square-3{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 1.2s ease-in;}
    .square-4{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 1.5s ease-in;}
    .square-5{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 1.8s ease-in;}
    .square-6{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 2.1s ease-in;}
    .square-7{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 2.4s ease-in;}
    .square-8{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 2.7s ease-in;}
    .square-9{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 3.0s ease-in;}
    .square-10{transition:top 0.4s ease-in, left 0.4s ease-in, opacity 3.3s ease-in;}

    .main-client .btn-more{background:url(/img/common/btn_more2.png) no-repeat 0 0; background-size:cover}

    .btn-more{position:absolute; top:30px; right:30px; width:14px; height:14px; z-index: 10; background:url(/img/common/btn_more.png) no-repeat 0 0; background-size:cover}

    .main-visual-num{position: absolute; bottom:40px; right:40px; z-index: 10;letter-spacing: 1px; font-family: auto}
    .main-visual-num span{font-size:16px; color:#fff; opacity: 0.3;}
    .main-visual-num b {font-size:45px; color:#fff; font-weight: 600}
    .main-visual .owl-carousel .owl-nav .owl-prev{width:100px; height:100px; background:url(/img/common/btn_prev.png) no-repeat 0 0; position: absolute; top:50%; left:0; z-index: 10; margin-top:-50px;}
    .main-visual .owl-carousel .owl-nav .owl-next{width:100px; height:100px; background:url(/img/common/btn_next.png) no-repeat 0 0; position: absolute; top:50%; right:0; z-index: 10; margin-top:-50px;}
	.ie .main-visual .owl-carousel.owl-drag .owl-item video {opacity:0}
	.ie .main-visual .owl-carousel.owl-drag .owl-item.active video {opacity:1}
	.ie .main-visual .owl-item {height:560px;;background-color:rgba(0,0,0,.75)}


    .base-footer{width:100%; margin:0 auto; padding:25px 0; background:#1b1b1b; text-align: left; color:#fff; font-size:14px; line-height:20px; }
    .footer-wrap{width:100%; max-width:1400px; margin:0 auto; overflow: hidden}
    .base-footer address{float:left; font-style:normal; letter-spacing:1px; font-weight: 200;}
    .base-footer address b{font-weight: 600}
    .footer-copy{float:right; font-style:normal; letter-spacing:1px; font-weight: 200; margin-top:5px; font-size:12px}

    .inner-wrap{width:100%; max-width:1400px; margin:0 auto;}

    /* Portfolio */
     .tit-wrap{width:100%; height:140px; text-align: center; color:#fff; font-size:40px; padding-top:40px; letter-spacing:2px; font-weight:600;}
 
    .ui-tab-btns{width:100%; text-align: left}
    .ui-tab-btn{padding:10px 8px 5px; min-height:40px; border-left:0; font-size:20px; margin:0 25px; font-weight: 200; letter-spacing: 2px; outline:none; color:#1b1b1b;}
    .ui-tab-btn i{border:0 !important}
    .ui-tab-btn:focus,
    .ui-tab-btn.selected{color:#000; font-weight:600; letter-spacing:0; border-bottom:3px solid #6b3bc0}
    .ui-tab-pnl{width:100%; padding:0; top:0; left:0; } 

    .list-item{width:100%; padding:0; margin-top:50px; }
    .list-item:after{content:""; display:block; clear:both}
    .list-item li{float:left; width:660px; position: relative; padding-bottom:60px}
    .list-item li:nth-child(2n){float:right}
    .list-item-img{ width:auto; position: relative; overflow: hidden; background:#000; }
    .list-item-img img{display:block;width:100%; transition:opacity 0.3s ease-in}
    .list-item li:hover .list-item-img img{opacity:0.5}
    .list-item li:hover .list-item-sns{opacity:1}
    .list-item-sns{position: absolute; opacity:0; top:0; left:0; width:100%; margin-top:23%; text-align:center; transition:opacity 0.3s ease-in}
    .list-item-sns:before,
    .list-item-sns:after{content:""; display:inline-block; width:20%; border-top:1px solid #fff; opacity:0.2; margin:0 20px; vertical-align: middle }
    .list-item-sns a{display:inline-block; margin:0 8px; vertical-align: middle;}
    .list-item-sns .ico-tw{width:44px; height:44px; background:url(/img/content/sns_tw.png) no-repeat 0 0;}
    .list-item-sns .ico-fb{width:44px; height:44px; background:url(/img/content/sns_fb.png) no-repeat 0 0;}
    .list-item-sns .ico-lk{width:44px; height:44px; background:url(/img/content/sns_lk.png) no-repeat 0 0;}
    .list-item li > a{display:block; width:100%;}

    .list-item-info{width:100%; position: relative; overflow: hidden; margin-top:20px; color:#1b1b1b}
    .list-item-info span{display:block;}
    .list-item-info .n1{font-size:20px}
    .list-item-info .n2{float:right; font-size:16px; letter-spacing: 0; font-weight: 200}
    .list-item-info .n3{float:left; font-size:16px; letter-spacing: 0; font-weight: 200}
    .list-item-info strong{float:left;display:block; width:100%; font-size:26px; margin-top:12px; letter-spacing: 1px; font-weight: 700; height:90px;}
    .list-item-info strong i{padding-bottom:2px; display:inline; border-bottom:2px solid #fff}
    a:focus .list-item-info strong i,
    a:hover .list-item-info strong i{padding-bottom:2px; border-bottom:2px solid #6b3bc0}
    .type-news a:focus .list-item-info strong i,
    .type-news a:hover .list-item-info strong i{padding-bottom:2px; border-bottom:2px solid #3d47da}


    .search-wrap{position:absolute; top:0; right:0; width:320px; height:46px; background:#f5f5f5;  padding:11px 15px; margin-bottom:0}
    .search-wrap input{border:0; width:250px; background:transparent; outline:0}
    .search-wrap .btn-search{position: absolute; top:7px; right:5px;}
    .type-news .search-wrap{position:relative; float:right; margin:0 0 50px;}
    .type-news .list-item{clear:both}

    .item-view{background:#f5e9d6;padding-bottom:70px}
    .item-view-head{background-size:cover; padding-bottom:33%; background-position:50% 0; min-height:480px}
    .item-view-head h2{position:absolute; display:block; top:0; padding-top:200px; font-size:40px; width:100%; text-align: center; color:#fff; line-height: 1.5; font-weight:100}
    .item-view-head h2 strong{font-weight:700}
    .item-view-body{position:relative; max-width:1400px; width:100%; margin:0 auto; background:#fff; padding:50px 90px; margin-top:-130px; min-height:500px; box-shadow: 0 5px 20px rgba(0,0,0,0.2)}
    .type-news .item-view-body{margin-top:0}

    .item-view-info{position:relative; width:100%; border-bottom:1px solid #eee; padding-bottom:50px;}
    .item-view-info dl{width:100%; padding-right:300px; padding-top:20px; overflow: hidden;}
    .item-view-info dt{width:100px; float:left; clear:left; margin-bottom:25px; font-size:16px; font-weight: 600; letter-spacing:1px; line-height: 28px}
    .item-view-info dd{width:770px; float:left;margin-bottom:25px; color:#1b1b1b; font-size:16px; letter-spacing:1px; line-height: 28px}
    .item-view-info .item-view-sns {text-align:right;bottom:75px;top:auto}

    .item-view-info dd span{font-size:14px; display:inline-block; vertical-align: middle; margin-right:20px; color:#707070}
    .item-view-info dd span img{display:inline-block; vertical-align: middle; margin-right:5px}

    .btn-website{position:absolute; top:0; right:0; color:#fff; display:block; width:260px; text-align: center; height:60px; background:#6b3bc0; line-height: 58px; font-weight: 600; letter-spacing: 1px; text-decoration: none}
    .item-view-sns{position:absolute; top:114px; right:0; }
    .item-view-sns a{display:inline-block; margin:0 4px; }
    .item-view-sns .ico-tw{width:34px; height:34px; background:url(/img/content/btn_tw.png) no-repeat 0 0;}
    .item-view-sns .ico-fb{width:34px; height:34px; background:url(/img/content/btn_fb.png) no-repeat 0 0;}
    .item-view-sns .ico-lk{width:34px; height:34px; background:url(/img/content/btn_lk.png) no-repeat 0 0;}

    .type-news.item-view{background:#fff;}
    .type-news .item-view-body{box-shadow: none; padding:100px 0 0; width:1400px}
    .type-news .item-view-info{padding-bottom:0px;}
    .type-news .item-view-info h2{width:100%; font-size:36px; text-align:center; margin-bottom:40px;}
    .type-news .item-view-info .date{display:inline-block; font-size:16px; width:100%; text-align:center; font-weight:200; margin-bottom:20px}
    .type-news .item-view-sns{position:relative; top:0; right:0;}
    .type-news .item-view-cont .view-txt{font-size:20px; margin-top:100px}
    .type-news .item-view-cont{border-bottom:2px solid #1b1b1b}
    .type-news .btn-wrap{padding:60px 0 135px}

    .item-view-list{position:relative; width:100%; padding:80px 0 ; border-top:1px solid #eee; }
    .item-view-list .tit{position:absolute; top:-17px; left:50%; display:block; text-align:center; background:#fff; font-size:20px; letter-spacing: 1px; font-weight: 600; width:220px; margin-left:-110px;}
    .item-view-list .list-item{margin-top:0 !important}

    .item-view-cont{position:relative; width:100%; text-align:center; padding:0 0 100px; font-size:30px}

    .item-view-link{position:relative; width:100%; padding:100px 0; border-top:1px solid #eee; text-align:center; }
    .item-view-link .tit{position:absolute; top:-12px; left:50%; display:block; text-align:center; background:#fff; font-size:14px; letter-spacing: 1px; font-weight: 600; margin-left:-45px; width:90px}
    .item-view-link a{display:inline-block; font-size:20px; color:#1b1b1b; letter-spacing: 1px}
    .item-view-link a > *{display:inline-block; width:100%; }
    .item-view-link a strong{font-size:30px; color:#6b3bc0; font-weight:700}
    .item-view-link a i{display:inline-block;border-bottom:2px solid #6b3bc0;}
    

    .item-view-cont .view-move,
    .item-view-cont .view-img,
    .item-view-cont .view-txt{width:100%; font-size:30px; line-height:1.6; font-weight: 200; margin-top:90px}
    .item-view-cont .view-txt strong{font-weight: 700}
    .item-view-cont .view-txt dl{font-size:22px; margin-top:30px}
    .item-view-cont .view-txt dl + dl{ margin-top:30px}
    .item-view-cont .view-txt dt{font-weight: 700}
    .item-view-cont .view-move{position: relative; width:100%; padding-bottom:56%; }
    .item-view-cont .view-move iframe{position: absolute; top:0; left:0;}

    .view-tag{width:100%; text-align:center; margin:100px 0 30px;}
    .view-tag span{display:inline-block; padding:0 15px; background:#f7f7f7; height:44px; line-height:42px; color:#3b5997; font-size:20px; font-weight: 200}

    .item-view-list{position:relative; width:100%; padding:40px 0 ; border-top:1px solid #eee; }
    .item-view-list .tit{position:absolute; top:-17px; left:50%; display:block; text-align:center; background:#fff; font-size:12px; letter-spacing: 1px; font-weight: 600; width:220px; margin-left:-110px;}
    .item-view-list .list-item{margin-top:0 !important; padding:0}

    .view-tag{width:100%; text-align:center; margin:50px 0 15px;}
    .view-tag span{display:inline-block; padding:0 7px; background:#f7f7f7; height:24px; line-height:22px; color:#3b5997; font-size:12px; font-weight: 200}

    .type-search .search-wrap{position: relative; padding:70px 0;  background:transparent; width:100%; height:auto;}
    .type-search .search-inp{position: relative; width:600px; height:60px; border:3px solid #1b1b1b; background:#fff; margin:0 auto;}
    .type-search .search-inp input{background:#fff; font-size:26px; color:#1b1b1b; font-weight: 500; margin:7px 0 0 20px; width:510px; padding:0}
    .type-search .search-inp .btn-search{width:54px; height:54px; background:#1b1b1b url(/img/common/ico_search2.png) no-repeat 50% 50%; top:0; right:0; background-size:34px}
    .search-txt{width:100%; text-align: center; font-size:20px; color:#1b1b1b; font-weight: 200; margin-top:45px;}
    .search-txt b{font-weight: 700; color:#f39800;}

    .search-result{border-top:2px solid #1b1b1b; width:100%; padding:45px 0;}
    .search-result h3{font-size:30px; font-weight: 700; color:#1b1b1b}
    .search-result h3 b{font-weight: 700; color:#f39800;}

    .list-none{width:100%; padding:100px 0; font-size:26px; color:#1b1b1b; text-align:center}

    .base-main.type-client{background:#f7f7f7}
    .inner-wrap.type-client{overflow:hidden;}
    .list-client{width:1475px; font-size:0; position:relative; left:-37px; margin-top:100px;}
    .list-client li{display:inline-block; width:18%; margin:0 1% 2%;}

    .contact-info{width:100%; overflow:hidden; margin-top:100px}
    .contact-info dl{float:left; width:50%;}
    .contact-info dt{font-size:26px; width:100%; font-weight:700; height:40px; color:#1b1b1b}
    .contact-info dd{font-size:22px; width:100%; color:#1b1b1b; height:40px}
    .contact-info dd + dd{font-size:20px; width:100%; font-weight:200;}
    .contact-info ul{float:right; width:490px; font-size:18px; font-weight:200;}
    .contact-info li span{display:inline-block; width:75px; vertical-align:middle}
    .contact-info li b{display:inline-block;font-size:20px; font-weight: 700; vertical-align:middle;}
    .contact-info li{width:100%; height:40px;}

    .map-wrap{width:100%; background:#f5f5f5; height:630px; margin:60px 0 70px;}

    .ui-tab.type-service{width:100%; text-align:center; margin:30px 0;}
    .ui-tab.type-service .ui-tab-btns{text-align:center; font-size:0}
    .ui-tab.type-service .ui-tab-btn{text-align:center;max-width:25%; min-width:25%; margin:0; letter-spacing: 1px; font-size:20px}
    .ui-tab.type-service .ui-tab-btn > span{display:inline-block; width:140px; height:140px; border-radius:70px; background:transparent url(/img/content/ico_service.png) no-repeat 0 0; transition:background-color 0.3s ease-in}
    .ui-tab.type-service .ui-tab-btn i{display:inline-block; width:100%; margin-top:15px; color:#a0a0a0; font-weight:600; line-height:1.2; font-size:20px; letter-spacing: 1px}
    .ui-tab.type-service .ui-tab-btn:hover,
    .ui-tab.type-service .ui-tab-btn:focus,
    .ui-tab.type-service .ui-tab-btn.selected{border:0 !important; letter-spacing: 1px}
    .ui-tab.type-service .ui-tab-btn.selected > span{background-color:#f2c200;}
    .ui-tab.type-service .ui-tab-btn.selected > i{color:#1b1b1b}
    .ui-tab.type-service .ui-tab-btn .icon-1{background-position:0 0}
    .ui-tab.type-service .ui-tab-btn .icon-2{background-position:-140px 0}
    .ui-tab.type-service .ui-tab-btn .icon-3{background-position:-280px 0}
    .ui-tab.type-service .ui-tab-btn .icon-4{background-position:-420px 0}
    .ui-tab.type-service .ui-tab-btn.selected .icon-1{background-position:0 -140px}
    .ui-tab.type-service .ui-tab-btn.selected .icon-2{background-position:-140px -140px}
    .ui-tab.type-service .ui-tab-btn.selected .icon-3{background-position:-280px -140px}
    .ui-tab.type-service .ui-tab-btn.selected .icon-4{background-position:-420px -140px}
    .ui-tab.type-service .ui-tab-pnls{margin-top:30px;}
    .ui-tab.type-service .ui-tab-pnl{background:#f7f7f7; font-size:20px; color:#1b1b1b; line-height:1.5; text-align: left; }

    .service-tit{width:100%; height:530px; background:url(/img/content/bg_service1.jpg) no-repeat 0 0; background-size:cover; padding:90px 90px 0; }
    .service-tit .ui-tab-tit{font-size:60px; color:#fff; font-weight:700; letter-spacing: 1px; line-height:1.2; }
    .service-tit p{margin-top:50px; letter-spacing: 1px; line-height:1.5; font-size:24px; color:#fff; font-weight:200;}
    .service-tit .ui-tab-tit:after{content:""; display:inline-block; vertical-align: baseline; margin-left:20px; width:400px; height:6px; background:#f2c200;}
    .service-ol{position:relative; top:-60px; background:#fff; width:1220px; margin:0 auto; padding:40px 50px 30px; font-size:0; box-shadow: 10px 10px 15px rgba(0,0,0,0.1)}
    .service-ol ol{vertical-align:top; display:inline-block; width:33.33%; font-size:20px; letter-spacing:1px;}
    .service-ol li{height:50px; width:100%;}
    .service-ol li b{font-weight:600}
    .service-ol em{font-size:12px; color:#f2c200; width:30px; display:inline-block; vertical-align:top; padding-top:4px;}
    .service-txt{width:100%; padding:0 90px 60px; text-align: left; font-weight:200; font-size:18px; }
    .service-txt p + p{margin-top:40px; letter-spacing:0}
    .service-tit p br{display:block;}
    .service-txt p br{display:block;}

    .about-visual{width:100%; height:480px; background:url(/img/content/bg_overview.jpg) no-repeat 50% 0; background-size:cover;}
    .about-visual .inner-wrap{padding:120px 90px 0; }
    .about-visual .inner-wrap h2{color:#fff; font-size:50px; font-weight:500; line-height: 1.2}
    .about-wrap{padding:100px 90px}
    .about-text{position:relative; padding-left:40%; width:100%; font-size:20px; line-height:2; font-weight:200}
    .about-text:before{content:""; display:block; width:30%; height:6px; background:#ff4d53; position: absolute; top:15px; left:0;}
    .about-idea{margin-top:90px; width:100%; text-align:left; font-size:0;}
    .about-idea dl{display:inline-block; width:340px; font-size:18px; line-height:1.7; font-weight:200; vertical-align: top; text-align: left; margin-left:100px; padding-left:0; margin-bottom:0}
    .about-idea dt{font-size:48px; font-weight:700; letter-spacing:1px; line-height: 1.2; margin-bottom:30px;}
    .about-idea dl:first-child{margin-left:0}
    .about-idea dt:before{content:""; position:relative; display:block; width:190px; height:190px; border-radius:95px; background:#ff4d53 url(/img/content/ico_overview.png) no-repeat 0 0; margin-bottom:35px;}
    .about-idea .n1 dt:before{background-position:0 0}
    .about-idea .n2 dt:before{background-position:-200px 0}
    .about-idea .n3 dt:before{background-position:-400px 0}
    .about-text br{display:block;}
    .about-idea dl br{display:block}

    .philosophy-list{width:100%; text-align:center; padding-bottom:130px;}
    .philosophy-list dl{margin-top:90px; position:relative}
    .philosophy-list dl:before{content:""; display:block; position: absolute; top:-30px; left:50%; margin-left:-35px; width:70px; height:1px; background:#e5e5e5;}
    .philosophy-list dt{width:100%; font-size:36px;}
    .philosophy-list dt em{width:100%; display:inline-block; color:#ff4d53; font-size:50px; letter-spacing:0.15em; font-weight:700; margin-bottom:10px}
    .philosophy-list dt strong{display:inline-block;}
    .philosophy-list dt span{display:inline-block; padding:0 30px;}
   
    .philosophy-list dd{margin-top:35px; font-size:20px; font-weight: 200;}
    .philosophy-list dd strong{font-size:24px; font-weight: 400}
    .philosophy-list dd strong b{font-weight: 600; position:relative; display:inline-block;}
    .philosophy-list dd strong b:after{content:""; display:block; width:calc(100% - 20px); left:10px; height:8px; background:#ff4d53; position:absolute; bottom:3px; z-index:-1}
    .philosophy-list dd p{margin-top:25px; font-size:18px; letter-spacing: 0; font-weight:200}
    .philosophy-list dd p br{display:block}
}

/* width:320 */
@media all and (max-width:320px) {
    .ui-tab-btn {font-size:13px;margin:0 8px}
}
/* min-width:480 */
@media all and (min-width:480px) {
    .m-block {display:inline}
}