@charset "utf-8"; 

/* 기본 공통요소 style */

/* default */
html, body {width:100%; height:100%;}
html {font-size:62.5%;}
body {font-family:'Noto Sans KR', sans-serif; font-size:14px; line-height:1.5; letter-spacing:-0.035em; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -moz-osx-font-smoothing:grayscale; /*-webkit-overflow-scrolling:touch; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); -webkit-tap-highlight-color:transparent;*/}
body:before {content:''; position:fixed; left:0; top:0; width:100%; height:0;}/* fix webkit bug(scroll event delay) */
body, div, h1, h2, h3, h4, h5, h6, form, fieldset, p, button, iframe, tr, tbody, thead, table, th, td, b, i, a, span, strong, em, label {margin:0; padding:0; box-sizing:border-box;}
dl, dt, dd, ul, ol, li {box-sizing:border-box; list-style:none; padding:0;}
h1, h2, h3, h4, h5, h6, dt {font-weight:normal;}
img, fieldset, iframe, button {border:0 none;}
dl, dt, dd, ul, ol, li {list-style:none; padding:0; margin:0;}
table {border-collapse:collapse; border-spacing:0;}
th, td {border-collapse:collapse;}
legend, caption {height:0; overflow:hidden; opacity:0; filter:alpha(opacity=0);}
hr {border:0; border-top:1px solid #ccc; margin:40px 0;}
em, u, cite, i, abbr {font-style:normal; text-decoration:none;}
strong, b {font-weight:normal;}
a {color:rgb(16, 79, 252); outline-offset:1px; }
button {border:0 none; font-family:'Noto Sans KR'; cursor:pointer; background:transparent; color:#666; cursor:pointer;}
input, textarea, select {box-sizing:border-box; font-family:'Noto Sans KR', sans-serif; font-size:14px;}
[class*="inp-"]::-webkit-search-cancel-button{display:none}

/* base line-height */
p{line-height:1.8}

/* html5 */
article, aside, details, figcaption, figure, footer, header, main, hgroup, nav, section, summary {display:block; margin:0; padding:0; box-sizing:border-box;}

/* common */
caption{position:relative !important; width:0 !important; height:0 !important; z-index:-1 !important; color:transparent !important; overflow:hidden !important; font-size:xx-small !important; line-height:0 !important; min-height:0 !important; max-height:0 !important;}
legend, 
.hidden,
.hide {position:absolute !important; width:0 !important; height:0 !important; z-index:-1 !important; color:transparent !important; overflow:hidden !important; font-size:xx-small !important; line-height:0 !important; min-height:0 !important; max-height:0 !important;}

/* base layout */
.base-skip {position:fixed; z-index:100;}
.base-layer {position:relative; z-index:20;}
.base-wrap {position:relative; width:100%; height:100%; z-index:0; -webkit-overflow-scrolling:touch;}


/* h group */
.tit-wrap {position:relative; width:100%; font-size:0;}
.tit-wrap:after{content:""; display:block; clear:both;}

/* ico_bullet */
.bul-hyphen,
.bul-dot,
.bul-etc {margin:10px 0;}
.bul-dot li,
.bul-dot > dd,
.bul-hyphen li,
.bul-hyphen > dd,
p.bul-dot,
p.bul-hyphen,
p.bul-star {position:relative; margin-top:5px; padding-left:10px; line-height:1.5; display:block;}
p.bul-care {position:relative; margin-top:5px; padding-left:15px; line-height:1.5; display:block;}
p.bul-etc {position:relative; margin-top:5px; padding-left:20px; line-height:1.5; display:block;}
.bul-dot li li:first-child,
.bul-dot li:first-child,
.bul-hyphen li li:first-child,
.bul-hyphen li:first-child {margin-top:0;}
.bul-dot li:before,
.bul-dot dd:before,
p.bul-dot:before {content:"·"; position:absolute; left:0; top:2px; font-weight:900; line-height:1.2;}
.bul-hyphen li:before,
.bul-hyphen dd:before,
p.bul-hyphen:before {content:"-"; position:absolute; left:0; top:1px; font-weight:400; line-height:1.2;}
p.bul-star:before {content:"*"; position:absolute; left:0; top:6px; font-weight:400; line-height:1.2;}
p.bul-care:before {content:"※"; position:absolute; left:0; top:2px; font-weight:400; line-height:1.2;}
.bul-hyphen ul,
.bul-dot ul,
.bul-etc ul,
.bul-etc ol {margin:5px 0 0;}
.bul-dot dd li,
.bul-dot li li,
.bul-hyphen dd li,
.bul-hyphen li li {margin:5px 0 0; padding-left:10px;}
.bul-dot dt,
.bul-hyphen dt {color:#000; font-weight:500;}
.bul-dot ul li:before{content:"-"; position:absolute; left:0; top:0; font-weight:400; line-height:1.2;}
.bul-hyphen ul li:before{content:"·"; position:absolute; left:0; top:2px; font-weight:900; line-height:1.2;}
.bul-etc > li {position:relative; margin-top:5px; padding-left:20px; line-height:1.5; display:block;}
.bul-ico{position:relative; top:0; margin:0 0 0 -20px; width:20px; display:inline-block;}

/* paragraph */
.paragraph-a{position:relative; width:100%; margin-top:20px;}
.paragraph-a h3{margin-top:30px}
.paragraph-a p{margin-top:15px}
.paragraph-a > *:first-child{margin-top:0}

/* text:type */
[class*="txt-mark"] {display:inline-block; margin:0 5px; padding:10px 0 0;}
.txt-mark-r {margin-right:20px;}
.txt-mark-l {margin-left:20px;}

/* text:weight */
.txt-w1 {font-weight:100;}
.txt-w2 {font-weight:200;}
.txt-w3 {font-weight:300;}
.txt-w4 {font-weight:400;}
.txt-w5 {font-weight:500;}
.txt-w6 {font-weight:700;}
.txt-w7 {font-weight:900;}

/* text:align */
.txt-c {text-align:center !important;}
.txt-c th,
.txt-c td {text-align:center;}
.txt-l {text-align:left !important;}
.txt-l th,
.txt-l td {text-align:left;}
.txt-r {text-align:right !important;}
.txt-r th,
.txt-r td {text-align:right;}
.ellp {position:relative; overflow:hidden; display:inline-block; text-overflow:ellipsis; white-space:nowrap; word-break:normal;}

/* bass text :margin & padding */
.mg-n {margin:0 !important;}
.mg-xxxs {margin:5px !important;}
.mg-xxs {margin:10px !important;}
.mg-xs {margin:15px !important;}
.mg-s {margin:20px !important;}
.mg-m {margin:25px !important;}
.mg-l {margin:30px !important;}
.mg-xl {margin:35px !important;}
.mg-xxl {margin:40px !important;}
.mg-xxxl {margin:45px !important;}

.mgt-n {margin-top:0 !important;}
.mgt-xxxs {margin-top:5px !important;}
.mgt-xxs {margin-top:10px !important;}
.mgt-xs {margin-top:15px !important;}
.mgt-s {margin-top:20px !important;}
.mgt-m {margin-top:25px !important;}
.mgt-l {margin-top:30px !important;}
.mgt-xl {margin-top:35px !important;}
.mgt-xxl {margin-top:40px !important;}
.mgt-xxxl {margin-top:45px !important;}

.mgb-n {margin-bottom:0 !important;}
.mgb-xxxs {margin-bottom:5px !important;}
.mgb-xxs {margin-bottom:10px !important;}
.mgb-xs {margin-bottom:15px !important;}
.mgb-s {margin-bottom:20px !important;}
.mgb-m {margin-bottom:25px !important;}
.mgb-l {margin-bottom:30px !important;}
.mgb-xl {margin-bottom:35px !important;}
.mgb-xxl {margin-bottom:40px !important;}
.mgb-xxxl {margin-bottom:45px !important;}

.mgl-n {margin-left:0 !important;}
.mgl-xxxs {margin-left:5px !important;}
.mgl-xxs {margin-left:10px !important;}
.mgl-xs {margin-left:15px !important;}
.mgl-s {margin-left:20px !important;}
.mgl-m {margin-left:25px !important;}
.mgl-l {margin-left:30px !important;}
.mgl-xl {margin-left:35px !important;}
.mgl-xxl {margin-left:40px !important;}
.mgl-xxxl {margin-left:45px !important;}

.mgr-n {margin-right:0 !important;}
.mgr-xxxs {margin-right:5px !important;}
.mgr-xxs {margin-right:10px !important;}
.mgr-xs {margin-right:15px !important;}
.mgr-s {margin-right:20px !important;}
.mgr-m {margin-right:25px !important;}
.mgr-l {margin-right:30px !important;}
.mgr-xl {margin-right:35px !important;}
.mgr-xxl {margin-right:40px !important;}
.mgr-xxxl {margin-right:45px !important;}

.pd-n {padding:0 !important;}
.pd-xxxs {padding:5px !important;}
.pd-xxs {padding:10px !important;}
.pd-xs {padding:15px !important;}
.pd-s {padding:20px !important;}
.pd-m {padding:25px !important;}
.pd-l {padding:30px !important;}
.pd-xl {padding:35px !important;}
.pd-xxl {padding:40px !important;}
.pd-xxxl {padding:45px !important;}

.pdt-n {padding-top:0 !important;}
.pdt-xxxs {padding-top:5px !important;}
.pdt-xxs {padding-top:10px !important;}
.pdt-xs {padding-top:15px !important;}
.pdt-s {padding-top:20px !important;}
.pdt-m {padding-top:25px !important;}
.pdt-l {padding-top:30px !important;}
.pdt-xl {padding-top:35px !important;}
.pdt-xxl {padding-top:40px !important;}
.pdt-xxxl {padding-top:45px !important;}

.pdb-n {padding-bottom:0 !important;}
.pdb-xxxs {padding-bottom:5px !important;}
.pdb-xxs {padding-bottom:10px !important;}
.pdb-xs {padding-bottom:15px !important;}
.pdb-s {padding-bottom:20px !important;}
.pdb-m {padding-bottom:25px !important;}
.pdb-l {padding-bottom:30px !important;}
.pdb-xl {padding-bottom:35px !important;}
.pdb-xxl {padding-bottom:40px !important;}
.pdb-xxxl {padding-bottom:45px !important;}

.pdl-n {padding-left:0 !important;}
.pdl-xxxs {padding-left:5px !important;}
.pdl-xxs {padding-left:10px !important;}
.pdl-xs {padding-left:15px !important;}
.pdl-s {padding-left:20px !important;}
.pdl-m {padding-left:25px !important;}
.pdl-l {padding-left:30px !important;}
.pdl-xl {padding-left:35px !important;}
.pdl-xxl {padding-left:40px !important;}
.pdl-xxxl {padding-left:45px !important;}

.pdr-n {padding-right:0 !important;}
.pdr-xxxs {padding-right:5px !important;}
.pdr-xxs {padding-right:10px !important;}
.pdr-xs {padding-right:15px !important;}
.pdr-s {padding-right:20px !important;}
.pdr-m {padding-right:25px !important;}
.pdr-l {padding-right:30px !important;}
.pdr-xl {padding-right:35px !important;}
.pdr-xxl {padding-right:40px !important;}
.pdr-xxxl {padding-right:45px !important;}

.w-xxxs {width:5% !important;}
.w-xxs {width:10% !important;}
.w-xs {width:15% !important;}
.w-s {width:20% !important;}
.w-m {width:25% !important;}
.w-l {width:30% !important;}
.w-xl {width:35% !important;}
.w-xxl {width:40% !important;}
.w-xxxl {width:45% !important;}
.w-half {width:50% !important;}
.w-full {width:100% !important;}
.w-auto {width:auto !important;}

/* table:col */
.col-th {width:100px;}
.col-num {width:50px;}
.col-name {width:100px;}
.col-date {width:120px;}
.col-date-scr {width:137px;}
.col-id {width:100px;}

.col-auto {width:auto;}
.col-xxxs {width:10%;}
.col-xxs {width:10%;}
.col-xs {width:15%;}
.col-s {width:20%;}
.col-m {width:25%;}
.col-l {width:30%;}
.col-xl {width:35%;}
.col-xxl {width:40%;}
.col-xxxl {width:45%;}
.col-half {width:50%;}

/* base list */
.list-define dt {margin:10px 0 5px; font-weight:500;}
.list-define dd {padding:0; margin:0;}

/* base menu */
/* .ui-menu li {list-style:none;} */
.form-item {display:inline-block; vertical-align:top; font-size:0; position:relative;}
.form-item * {font-size:14px;}

/* layout */
.in-wrap{position:relative; font-size:0; margin:10px 0;}
.in-wrap > *,
.in-item{font-size:14px; display:inline-block; vertical-align:top;}

.fl-wrap{position:relative; margin:10px 0;}
.fl-wrap:after{content:""; display:block; clear:both;}
.fl-item-l{float:left; position:relative;}
.fl-item-r{float:right; position:relative;}

.fx-wrap{position:relative; display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-lines:single; -ms-flex-wrap:nowrap; flex-wrap:nowrap; margin:10px 0;}
.fx-dir-row{-webkit-box-orient:horizontal; -ms-flex-direction:row; flex-direction:row;}
.fx-dir-rev{-webkit-box-orient:horizontal; -webkit-box-direction:reverse; -ms-flex-direction:row-reverse; flex-direction:row-reverse;}
.fx-dir-col{-webkit-box-orient:vertical; -ms-flex-direction:column; flex-direction:column;}
.fx-dir-revcol{-webkit-box-orient:vertical; -webkit-box-direction:reverse; -ms-flex-direction:column-reverse; flex-direction:column-reverse;}
.fx-line{-webkit-box-lines:multiple; -ms-flex-wrap:wrap; flex-wrap:wrap;}

.fx-align-start{-webkit-box-pack:start; -ms-flex-pack:start; justify-content:flex-start;}
.fx-align-end{-webkit-box-pack:end; -ms-flex-pack:end; justify-content:flex-end;}
.fx-align-center{-webkit-box-pack:center; -ms-flex-pack:center; justify-content:center;}
.fx-align-justify{-webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between;}

.fx-valign-start{-webkit-box-align:start; -ms-flex-align:start; align-items:flex-start;}
.fx-valign-end{-webkit-box-align:end; -ms-flex-align:end; align-items:flex-end;}
.fx-valign-center{-webkit-box-align:center; -ms-flex-align:center; align-items:center;}
.fx-valign-stretch{-webkit-box-align:stretch; -ms-flex-align:stretch; align-items:stretch;}
.fx-valign-baseline{-webkit-box-align:baseline; -ms-flex-align:baseline; align-items:baseline;}

.fx-order-1{-webkit-box-ordinal-group:1; -ms-flex-order:1; order:1;}
.fx-order-2{-webkit-box-ordinal-group:2; -ms-flex-order:2; order:2;}
.fx-order-3{-webkit-box-ordinal-group:3; -ms-flex-order:3; order:3;}
.fx-order-4{-webkit-box-ordinal-group:4; -ms-flex-order:4; order:4;}
.fx-order-5{-webkit-box-ordinal-group:5; -ms-flex-order:5; order:5;}

.fx-item-0{-webkit-box-flex:0; -ms-flex:0; flex-grow:0}
.fx-item-1{-webkit-box-flex:1; -ms-flex:1; flex-grow:1}
.fx-item-2{-webkit-box-flex:2; -ms-flex:2; flex-grow:2}
.fx-item-3{-webkit-box-flex:3; -ms-flex:3; flex-grow:3}
.fx-item-4{-webkit-box-flex:4; -ms-flex:4; flex-grow:4}
.fx-item-5{-webkit-box-flex:5; -ms-flex:5; flex-grow:5}
.fx-item-6{-webkit-box-flex:6; -ms-flex:6; flex-grow:6}
.fx-item-7{-webkit-box-flex:7; -ms-flex:7; flex-grow:7}
.fx-item-8{-webkit-box-flex:8; -ms-flex:8; flex-grow:8}
.fx-item-9{-webkit-box-flex:9; -ms-flex:9; flex-grow:9}
.fx-item-10{-webkit-box-flex:10; -ms-flex:10; flex-grow:10}
.fx-item-11{-webkit-box-flex:11; -ms-flex:11; flex-grow:11}
.fx-item-12{-webkit-box-flex:12; -ms-flex:12; flex-grow:12}

/* base form:radio & checkbox */
input[type="radio"],
input[type="checkbox"] {opacity:0; filter:alpha(opacity=0); display:inline-block; position:absolute; z-index:-1; vertical-align:top; appearance:none; -moz-appearance:none; -webkit-appearance:none; margin:0;}
.lb-radio,
.lb-check {position:relative; display:inline-flex; vertical-align:top; align-items:center; min-height:40px; font-size:13px; padding:0; margin:0 10px 0; cursor:pointer; line-height:1;}
.lb-radio:before,
.lb-check:before {content:""; display:block; flex:0; min-width:20px; min-height:20px; margin-right:5px; box-sizing:border-box; border:2px solid #333; transition:box-shadow 0.5s, border 0.3s;}
.lb-radio:before {border-radius:50%;}
.lb-check:before {border-radius:3px;}
.lb-radio.checked:before,
.lb-check.checked:before {border:6px solid #333;}
.lb-radio.activated:before,
.lb-check.activated:before,
.lb-radio:hover:before,
.lb-check:hover:before,
.lb-radio:focus:before,
.lb-check:focus:before {box-shadow:0 0 5px rgba(0,0,0,0.7);}
.lb-radio.checked,
.lb-check.checked {color:#000;}
.lb-radio.disabled,
.lb-check.disabled {opacity:0.3; filter:alpha(opacity=30); cursor:not-allowed;}
.lb-radio span,
.lb-check span {display:inline-block; vertical-align:middle; height:100%; border-bottom:1px solid transparent;}
.lb-check.all {font-size:16px; color:#444;}
.lb-check.all span {padding-top:1px;}
.lb-tit {display:inline-block; height:40px; margin-right:10px; padding-top:10px; vertical-align:top; cursor:pointer;}

/* in label style */
.field-inlabel {position:relative; padding:0 0 30px; display:inline-block; vertical-align:top;}
.field-inlabel label{position:absolute; top:0; left:10px; transform:translate(0, 9px); font-size:14px; color:#888; cursor:text; 
-webkit-transition: -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1), font-size 150ms;
transition: -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1), font-size 150ms;
-o-transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1), font-size 150ms;
transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1), font-size 150ms;
}
.field-inlabel.activated input + label,
.field-inlabel input:focus + label{transform:translate(0, -9px); color:#000; font-size:12px;}
.field-inlabel label:after{content:""; position:absolute; top:8px; left:0; display:block; width:100%; height:1px; z-index:-1; border-top:1px solid #fff;
-o-transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1), padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1), padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field-inlabel.activated input + label:after,
.field-inlabel input:focus + label:after{padding:0 5px; top:8px; left:-5px; z-index:-1; border-top:2px solid #fff; transition-delay: 150ms;}
.field-inlabel input:focus{background:rgb(245, 251, 253)}
.field-inlabel .ui-error-msg,
.field-inlabel .placeholder{position: absolute; left:0; padding-left:10px; top:42px; line-height:1.2; margin:0;}
.field-inlabel .ui-select .ui-error-msg{top:42px}
.field-inlabel.ui-error-true .placeholder{display:none}
.field-inlabel input::-webkit-input-placeholder{color:transparent;}
.field-inlabel input:-ms-input-placeholder{color:transparent;}
.field-inlabel input::placeholder {color:transparent;}
.field-inlabel input:focus::-webkit-input-placeholder{color:#999;}
.field-inlabel input:focus:-ms-input-placeholder{color:#999;}
.field-inlabel input:focus::placeholder {color:#999;}

.field-outlabel {position:relative; padding:0 0 30px; display:inline-block; vertical-align:top;}
.field-outlabel label{display:block; margin-bottom:2px}
.field-outlabel .ui-error-msg,
.field-outlabel .placeholder{position: absolute; left:0; padding-left:10px; top:64px; line-height:1.2; margin:0;}
.field-outlabel .ui-select .ui-error-msg{top:64px}

/* base form:input text */
.inp-error {border-color:red !important;}
[class*="inp-"] {display:inline-block; vertical-align:top; width:100%; border:1px solid #c9c9c9; border-radius:2px; height:40px; padding:0 10px; outline:0;}
[class*="inp-"]:focus{border-color:#000}
.inp-mmdd {width:50px;}
.inp-date {width:100px;}
.inp-tarea {height:100px; padding:10px;}

.inp-wrap{position:relative;}
.inp-wrap [class*="inp-"]{border:0}
.lb-base{display:inline-block; margin-bottom:3px; cursor:pointer;}
.placeholder{display:block; color:#999; font-size:11px}

/* base form:select */
select {display:inline-block; position:relative; vertical-align:top; width:auto; height:40px; padding:0 40px 0 10px; border-radius:2px; 
background:#fff url(../resources/img/common/ico_form.png) no-repeat 100% -106px; background-size:200px 200px; appearance:none; -moz-appearance:none; -webkit-appearance:none; border:1px solid #c9c9c9; font-size:14px; cursor:pointer;}
select::-ms-expand {display:none;}
select optgroup,
select option {font-style:normal; background-color:#fff; font-size:13px;}
select[disabled] {background-color:#f7f7f7; color:#888;}
.ie9 select {padding:0;}

/* base box */
.box-base {position:relative; width:100%; margin:10px 0; padding:10px 20px; background:#fff; border:1px solid rgb(180, 180, 180);}

/* table:base */
[class*="tbl-base"] {margin:10px 0; width:100%; position:relative; border-top:1px solid #c5c5c5; border-bottom:1px solid #c5c5c5;}
[class*="tbl-base"] > thead th {background:#f1f1f1; border-bottom:1px solid #e4e4e4; border-left:1px solid #e4e4e4; color:#000; padding:5px; font-weight:500; font-size:12px; height:40px;}
[class*="tbl-base"] > tbody > tr > th,
[class*="tbl-base"] > tbody > tr > td {border-top:1px solid #e4e4e4; border-left:1px solid #e4e4e4; color:#444; height:40px; padding:5px; font-weight:300; font-size:12px; word-break:break-all;}
[class*="tbl-base"] > tbody > tr:first-child > th,
[class*="tbl-base"] > tbody > tr:first-child > td {border-top:0;}
[class*="tbl-base"] > thead > tr > th:first-child,
[class*="tbl-base"] > tbody > tr > th:first-child,
[class*="tbl-base"] > tbody > tr > td:first-child {border-left:0;}
[class*="tbl-base"] > tbody > tr > th {background:#fff;}
tbody.line-t{border-top:1px solid #c5c5c5}

/* table:base vertical */
.tbl-base-v > tbody > th {background:#f1f1f1; border-bottom:1px solid #e4e4e4; border-left:1px solid #e4e4e4; color:#000; padding:5px 15px; font-weight:500; font-size:12px; height:40px;}

/* table:scroll */
.tbl-scroll {width:100%; border-bottom:1px solid #c5c5c5; border-top:1px solid #c5c5c5; margin:10px 0;}
.tbl-scroll-thead table{margin:0; width:100%; border:0; table-layout:fixed; }
.tbl-scroll-thead td {background:#f1f1f1;  border-left:1px solid #e4e4e4; color:#000; padding:5px 10px; font-weight:500; font-size:12px; height:40px;}
.tbl-scroll-thead td:first-child{border-left:0;}
.tbl-scroll-thead{background:#f1f1f1; border-bottom:1px solid #e4e4e4;}
.tbl-scroll-tbody{position: relative; width:100%; overflow-y:auto;}
.is-scr .tbl-scroll-tbody:before{content:""; display:block; position: sticky; background:#e4e4e4; top:-1px; left:0; width:100%; height:1px; box-shadow:0 0 7px  rgba(0,0,0,0.3)}
.is-scr .tbl-scroll-tbody:after{content:""; display:block; position: sticky; background:#e4e4e4; bottom:-1px; left:0; width:100%; height:1px; box-shadow:0 0 7px  rgba(0,0,0,0.3)}
.tbl-scroll-tbody .tbl-base {margin:0; border:0;}
.tbl-scroll-tbody .tbl-base tbody:after,
.tbl-scroll-tbody .tbl-base:after {display:none;}
.tbl-scroll-tbody thead {position:absolute; width:0; height:0; z-index:-1; color:transparent; overflow:hidden; font-size:xx-small; line-height:0; border:0;}

/* base tab */
	/* base tab :mobile scroll-x */
	.ui-m .tab-scroll .ui-tab-btns {border-top:1px solid #222; border-bottom:1px solid #222; overflow-x:scroll; overflow-y:hidden; -webkit-overflow-scrolling:touch; width:100%;}
	.ui-m .tab-scroll-wrap {white-space:nowrap; display:flex; flex-wrap:nowrap;}
	.ui-m .tab-scroll-wrap .ui-tab-btn {flex:0; border:0; background:#fff; border-bottom:3px solid #fff;}
	.ui-m .tab-scroll-wrap .ui-tab-btn[aria-selected="true"] {border-bottom:3px solid #222;}
	.ui-m .tab-scroll .ui-tab-pnls {border:0; margin-top:0;}

/* list */
.list-img { display:flex; flex-wrap:wrap; margin:0 -15px;}
.list-img .list { position:relative; display:flex; padding:0 15px; margin-bottom:20px; flex:0 0 33.3333333%; max-width:33.3333333%; flex-direction:column;}
.list-img .list .img-top { display:block; border-top-left-radius:2.5px; border-top-right-radius:2.5px; width:100%; height:auto;}
.list-img .list-body { border:1px solid rgba(0,0,0,.125); border-radius:2.5px;}
.list-img .list-txt { flex:1 1 auto; padding:12px;}
.list-img .list-txt span { color:#288ad1;}
.list-img .list-txt strong { font-size:20px; display:block;}

/* base button wrap */
.btn-wrap {position:relative; margin:10px 0; width:100%; text-align:center; font-size:0;}
.btn-wrap [class*="btn-base"]{ margin:5px;}
.btn-wrap.txt-l [class*="btn-base"]{margin-left:0; margin-right:10px;}
.btn-wrap.txt-r [class*="btn-base"]{margin-right:0; margin-left:10px;}

/* base button */
[class*="btn-base"]{display:inline-block; padding:0 20px; min-height:60px; min-width:180px; border:0; font-size:16px; text-align:center; background:#3d47da; vertical-align:top; color:#fff; text-decoration:none;
}


div[class*="btn-base"],
span[class*="btn-base"],
a[class*="btn-base"]{padding:17px 20px 8px;}
[class*="btn-base"] span{vertical-align:middle; display:inline-block; line-height:1; margin-top:-3px;}
[class*="btn-base"]:hover,
[class*="btn-base"]:focus{text-decoration: underline}
[class*="btn-base"].disabled{opacity:0.7; filter:alpha(opacity=70); border:1px solid #ccc; box-shadow:none; cursor:default;}
[class*="btn-base"].disabled:hover,
[class*="btn-base"].disabled:focus{text-decoration:none}

/* base size */
.btn-base-s{min-height:30px;} 
a.btn-base-s{padding:4px 20px 3px;}
.btn-base-m{min-height:40px;} 
.btn-base-l{min-height:60px; font-size:16px;}
a.btn-base-l{padding:17px 20px 16px;}

/* button icon style */
[class*="btn-base"].ico-print:after {content:""; display:inline-block; width:20px; height:20px; background:url(../resources/img/common/ico_btn.png) no-repeat -15px -15px; margin-left:5px; vertical-align:middle; margin-top:-3px;}

/* base button :X close, del button ... */
.btn-del,
.btn-close {position:relative; width:20px; height:20px; border:1px solid transparent; overflow:hidden; color:transparent; font-size:xx-small; box-sizing:content-box;}
.btn-del:after,
.btn-close:after {content:""; position:absolute; top:50%; left:0; margin-top:-1px; display:block; width:100%; height:2px; background:#fff; border-radius:1px; 
-webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg);}
.btn-del:before,
.btn-close:before {content:""; position:absolute; top:0; left:50%; margin-left:-1px; display:block; width:2px; height:100%; background:#fff; border-radius:1px; 
-webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg);}
.btn-del:before,
.btn-del:after {background:#222;}

.btn-menu {position:absolute; top:16px; right:20px; width:18px; height:16px;}
.btn-menu:before,
.btn-menu:after{content:""; position:absolute; left:0; display:block; width:100%; height:2px; background:#222;}
.btn-menu:before{top:0;}
.btn-menu:after{bottom:0;}
.btn-menu .hide{width:100% !important; height:2px !important; background:#222 !important; z-index:0 !important; display:block; max-height:2px !important; top:50%; left:0; margin-top:-1px;}
