@charset "utf-8";

/* count number */
.ui-count{display:inline-block; overflow:hidden; vertical-align:bottom;}
.ui-count > div{display:inline-block; overflow:hidden; position:relative;}
.ui-count-og{display:inline-block; position:relative; top:0;}
.ui-count-num{position:absolute; top:0;}
.ui-count-num span{display:block;}

/* ui position */
.ui-floating-wrap{position:relative; width:100%; height:50px;}
.ui-fixed-bottom .ui-floating-wrap{position:fixed; bottom:0; left:0; z-index:999;}
.ui-fixed-top .ui-floating-wrap{position:fixed; top:0; left:0; z-index:999;}
.ui-follow-bn{position:absolute; z-index:999;}
.ui-follow-bn.fix{position:fixed;}
    /* style */
    .type-sidebn{right:10px;}

.ui-floating-range{position:relative; }
.ui-floating-range-item{position:absolute; top:0; left:0; width:100%;}

/* ui-acco:base layout */
.ui-acco{position:relative; margin:10px 0; list-style:none}
.ui-acco-wrap{position:relative; width:100%; padding:0; margin:0; list-style:none}
.ui-acco .ui-acco-tit{box-sizing:border-box; position:relative;  width:100%; height:100%; border-bottom:1px solid #ccc; margin:0; padding:0; background:#fff;}
.ui-acco .ui-acco-tit h1{position:relative; z-index:0;}
.ui-acco-btn{cursor:pointer; position:relative; top:0; right:0; z-index:1; width:100%; height:100%; padding:10px; letter-spacing:0; box-sizing:border-box; text-align:left; color:#000; font-size:14px}
a.ui-acco-btn{display:inline-block; text-decoration:none;}
a.ui-acco-btn .ui-acco-arrow {transform: rotate(-90deg);}
.ui-acco .ui-acco-pnl{position:relative; box-sizing:border-box; background:#f9f9f9; border-bottom:1px solid #ccc; margin:0; padding:20px;}
.ui-acco-arrow{display:block; position:relative; top:2px; width:18px; height:18px; float:right; overflow:hidden; color:transparent; font-size:xx-small}
.ui-acco-arrow:after,
.ui-acco-arrow:before{content:""; display:block; width:8px; height:2px; border-radius:2px 2px; background:#656565; position:absolute}
.ui-acco-arrow:after{transform:rotate(-45deg); top:8px; left:7px}
.ui-acco-arrow:before{transform:rotate(45deg); top:8px; left:3px}
.selected .ui-acco-arrow:after{transform:rotate(45deg);}
.selected .ui-acco-arrow:before{transform:rotate(-45deg);}

.ui-acco.type-b .ui-acco-btn{position: absolute; color:transparent; overflow:hidden; font-size:xx-small; line-height: 0;}
.ui-acco.type-b .ui-acco-tit{height:40px;}
.ui-acco.type-b .ui-acco-txt{position: relative; display:inline-block; padding:10px; z-index:2; text-decoration:none; color:#000}

/* ui-acco:ui-menu */
.ui-acco,
.ui-acco ul,
.ui-acco li{list-style:none; padding:0; margin:0}

/* ui-tab :base layout */
.ui-tab{position:relative; margin:10px 0}
.ui-tab-btns{position:relative; overflow:hidden; z-index:1}

.ui-tab-btn{box-sizing:border-box; float:left; position:relative; z-index:0}
.ui-tab-btn.selected{z-index:2;}
.ui-tab-pnls{box-sizing:border-box; position:relative; width:100%;}
.ui-tab-pnl{box-sizing:border-box; top:0; left:0;}
.ui-tab-pnl,
.ui-tab-pnl[aria-hidden='true']{visibility:hidden; position:absolute; opacity:0; display:none}
.ui-tab-pnl.selected,
.ui-tab-pnl[aria-hidden='false']{visibility:visible; position:relative; opacity:1; z-index:1; display:block}

/* ui-tab :eff */
.ui-tab.eff-fade .ui-tab-pnl{-webkit-transition:opacity 0.3s; -moz-transition:opacity 0.3s; -o-transition:opacity 0.3s; transition:opacity 0.3s;}

/* $plugins.uiSelect */
.ui-select{position:relative; display:inline-block; vertical-align:top}
.ui-select select{width:100%;}
.ui-select select.off{position:absolute; left:-9999px; width:0; height:0; border:0; opacity:0; z-index:-1; color:transparent; overflow:hidden; font-size:xx-small; line-height:0;} 
.ui-select-btn{display:inline-block; position:relative; text-align:left; vertical-align:top; width:100%; height:40px; padding:0 30px 0 10px; border-radius:2px; background:#fff url(/netiveUI/resources/img/common/ico_form.png) no-repeat 100% -106px; background-size:200px 200px; border:1px solid #c9c9c9; font-size:14px; cursor:pointer; outline:0; box-sizing:border-box; text-overflow:ellipsis;}
.ui-select-btn span{display:inline-block; width:100%; text-align:left; word-break:nowrap; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; text-align:left}
.ui-select-btn[aria-expanded="true"],
.ui-select-btn:focus,
.ui-select-btn:active{border-color:#000; box-shadow:0 0 5px rgba(0,0,0,0.7)}

.ui-select-wrap.on{display:block}
.ui-select-wrap.top{bottom:39px}
.ui-select-wrap.bottom{top:39px}
.ui-select-wrap{display:none; position:absolute; z-index:100; left:0; width:auto; border:1px solid #000; background:#fff; overflow-y:auto; max-height:162px}
.ui-select-wrap.ui-scrollbar{position: absolute; min-height:162px}
.ui-scrollbar-item{overflow:hidden;}
.ui-select-opt{display:block; float:left; width:100%; padding:5px 20px 5px 10px; height:40px; text-align:left; background:#fff; white-space:nowrap}
.ui-select-opt.selected{font-weight:700; text-decoration:underline; background:#444; color:#fff;}
.ui-select-opts input:focus,
.ui-d .ui-select-opt:focus,
.ui-d .ui-select-opt:hover{background:#444; color:#fff;}

.ui-select-dim,
.ui-select-close,
.ui-select-tit{display:none}

.ui-select .mCSB_inside > .mCSB_container{margin-right:0}
.ui-select.type-tel{width:150px}
.ui-select.type-bank{width:200px}
.ui-select.type-card{width:200px}

/* ui inputclear */
.ui-btn-cancel{display:inline-block; position:absolute; margin-left:-40px; width:40px; height:40px; }
.ui-btn-cancel span{position:relative; display:block; left:14px; width:16px; height:16px; background:transparent; color:transparent; overflow:hidden; font-size:xx-small}
.ui-btn-cancel span:after{content:""; position:absolute; top:50%; left:0; margin-top:-1px; display:block; width:100%; height:2px; background:#000; border-radius:1px; 
-webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg);}
.ui-btn-cancel span:before{content:""; position:absolute; top:0; left:50%; margin-left:-1px; display:block; width:2px; height:100%; background:#000; border-radius:1px; 
-webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg);}

/* ui file */
.ui-file{margin:10px 0; position:relative; overflow:hidden}
.ui-file-wrap{display:inline-block; position:relative;}
.ui-file-list{position:relative; padding:10px; border:1px solid #ccc; font-size:14px;}
.ui-file-item{position:relative; width:100%;}
.ui-file-list .ui-file-del{position:absolute; right:10px; top:10px}

.ui-file-inp{position:absolute; top:0; right:0; margin:0; opacity:0; -ms-filter:'alpha(opacity=0)'; font-size:200px !important; direction:ltr; cursor:pointer;}

/* ui card list :base */
.ui-bricklist{position:relative; width:100%;}
.ui-bricklist-wrap{margin:0; padding:0;}
.ui-bricklist-item{display:block; opacity:0; box-sizing:border-box; overflow:hidden; list-style:none; border-radius:3px; transition:top 0.3s, left 0.3s, opacity 0.3s;}

    /* style */
	.ui-bricklist-item{width:150px; border:1px solid #e8e8e8; padding:3px; background:#fff; color:#444; text-align:center;}
	.ui-bricklist-item img{width:100%;}

/* ui codinglist */
.ui-codinglist{width:100%; margin:30px 0 0}
.ui-codinglist table{width:100%; }
.ui-codinglist table a,
.ui-codinglist table button{font-size:12px; letter-spacing:-0.07em; color:#5a5a5a; text-decoration:none}
.ui-codinglist thead th{background:#3a3a3a; color:rgb(241, 241, 241); border:1px solid #222; padding:4px 10px; font-size:10px; letter-spacing:1px;}
.ui-codinglist th,
.ui-codinglist td{border:1px solid #e4e4e4; padding:3px 10px; text-align:left; font-weight:400; font-size:12px;}
.ui-codinglist col{width:auto;}
.ui-codinglist col.col1{width:55px;}
.ui-codinglist col.col2,
.ui-codinglist col.col3,
.ui-codinglist col.col4{width:65px;}
.ui-codinglist col.col5{width:40px;}
.ui-codinglist col.col8{background:#f2f2f2;}
.ui-codinglist thead th:nth-child(1),
.ui-codinglist thead th:nth-child(2),
.ui-codinglist thead th:nth-child(3),
.ui-codinglist thead th:nth-child(4),
.ui-codinglist thead th:nth-child(5), 
.ui-codinglist .state,
.ui-codinglist .date,
.ui-codinglist .endd,
.ui-codinglist .name,
.ui-codinglist .img{text-align:center; word-break:keep-all;}
.ui-codinglist .d{color:#ccc;}
.ui-codinglist .end .d{color:#c9bbf7;}
.ui-codinglist .c1 .d1,
.ui-codinglist .c2 .d2,
.ui-codinglist .c3 .d3,
.ui-codinglist .c4 .d4,
.ui-codinglist .c5 .d5,
.ui-codinglist .c6 .d6,
.ui-codinglist .c7 .d7,
.ui-codinglist .c8 .d8{color:#000;}
.ui-codinglist .hidden span{display:none;}
.ui-codinglist .hidden{border:0 !important; display:none;}
.ui-codinglist .ing{background:#f0faff;}
.ui-codinglist .ing td{border-bottom:1px solid #b9dff3;}
.ui-codinglist .tst{background:#fff9da;}
.ui-codinglist .tst td{border:1px solid #fdea86;}
.ui-codinglist .trm{background:#f9d5e2;}
.ui-codinglist .end{background:#dbd0ff;}
.ui-codinglist .end td{border:1px solid #c9bbf7;}
.ui-codinglist .end a,
.ui-codinglist .end button{color:#6d4bde !important;}
.ui-codinglist .del span{opacity:0.1;}
.ui-codinglist .del{background:#f7f7f7;}
.ui-codinglist .overlap{color:#ccc !important;} 
.ui-codinglist .overlap span{font-size:12px; opacity:0.5;}
.ui-codinglist .img img{width:20px;}
.ui-codinglist-sel,
.ui-codinglist-info{margin:10px 0; padding:0}
.ui-codinglist-info li{display:inline-block; padding:5px}
.ui-codinglist-sel a,
.ui-codinglist-sel button,
.ui-codinglist-sel select{margin:0 5px 5px 0}
.ui-codinglist tr:hover {outline:2px solid #3a3a3a; }
    .ui-m .ui-codinglist thead{display:none;} 
    .ui-m .ui-codinglist tr{display:block; width:100%; border-bottom:1px solid #d8d8d8; overflow:hidden; padding:10px; box-sizing:border-box;}
    .ui-m .ui-codinglist .end{border-color:#c9bbf7;}
    .ui-m .ui-codinglist .ing{border-color:#b9dff3;}
    .ui-m .ui-codinglist td{display:block; float:left; border:0; padding:3px;}
    .ui-m .ui-codinglist td img{width:14px; margin-top:2px;}
    .ui-m .ui-codinglist .root{display:none;}
    .ui-m .ui-codinglist .d1{margin-left:5px; clear:both;}
    .ui-m .ui-codinglist .d1:before{content:'-'; display:inline-block; padding-right:5px;}
    .ui-m .ui-codinglist .d{color:#222;}
    .ui-m .ui-codinglist .memo{clear:both; background:rgb(255, 254, 223); width:100%; border-radius:3px; padding:10px;}
    .ui-m .ui-codinglist .memo.none{display:none;}
    .ui-m .ui-codinglist .date:before{content:'ⓢ'; display:inline-block;}
    .ui-m .ui-codinglist .date:after{content:' ~'; display:inline-block; padding-left:5px;}
    .ui-m .ui-codinglist .enddate:before{content:'ⓔ'; display:inline-block;}

/* base layer :z-index 1 ---------------------------------------------------------------------------------- */
/* ui modal :z-index 1 ~ 99 */
.modal-backdrop{display:none; opacity:0; position:fixed; top:0; left:0; z-index:0; width:100%; height:200%; background-color:rgba(0,0,0,0.7);}
.modal-open{overflow:hidden; padding-right:17px}
.modal-open .base-layer{width:100%; height:100%; position:fixed; overflow:hidden;}
.ui-modal{display:none; opacity:0; position:fixed; z-index:1; width:auto; height:auto; padding:0;}
.ui-modal.ps-top{top:-100%; transition:top 200ms}

.ui-modal.show{display:block; left:50%}
.ui-modal.ps-center{top:40%}
.ui-modal.ps-bottom{bottom:-25%}
.ui-modal.type-full{left:0; top:0; width:100%; height:100%;}
.ui-modal .btn-close{position:absolute; top:0; right:-28px; z-index:3;}
.ui-modal-wrap{width:100%; height:100%; background-color:#fff; box-shadow:0 0 10px rgba(0,0,0,0.2)}
.ui-modal-header{width:100%;}
.ui-modal-header h1{font-size:20px; color:#fff; text-align:center; height:100%; padding:10px; background-color:#333333;}
.ui-modal-cont{position:relative; overflow-y:auto; overflow-x:hidden; width:100%; margin:0; padding:15px; background-color:#fff;}
.ui-modal-footer{position:absolute; bottom:0; width:100%; z-index:1; text-align:center; margin:0; padding:20px 0; border-top:1px solid #ccc; background:#fff;}

.modal-full .base-layer{position:fixed; overflow-x:scroll; overflow-y:auto;  width:100%; height:100%; top:0; left:0; background:#fff}
.modal-full .ui-modal{position:relative !important; top:0 !important; left:0 !important; margin:0 auto !important}
.modal-full .base-layer .modal-backdrop{display:none !important; }
.modal-full .ui-modal .ui-modal-wrap .btn-close{position:absolute; right:14px; top:14px; }
.modal-full .ui-modal .ui-modal-footer,
.modal-full .ui-modal{box-shadow:none !important; }
.modal-full .ui-modal .ui-modal-footer{position:relative}

.modal-system .ui-modal-cont{text-align:center; padding:20px; font-size:16px;}
.modal-system .btn-wrap {margin-top:20px;}
.modal-system .ui-modal-cont:before{content:""; display:inline-block; width:50px; height:50px; background:url(/netiveUI/resources/img/common/ico_modal.png) no-repeat -25px -25px; margin-bottom:20px;}

.modal-system .system-type-a:before{background-position:-25px -25px}
.modal-system .system-type-b:before{background-position:-125px -25px}
.modal-system .system-type-c:before{background-position:-225px -25px}

    /* ui modal mobile */
    .ui-m .modal-open{padding:0}
    .ui-m .ui-modal{max-width:100%; padding:0;}
    .ui-m .ui-modal-wrap{height:100%;}
    .ui-m .ui-modal-cont{background:#fff; padding:15px; height:auto; overflow:auto; font-size:15px;}
    .ui-m .ui-modal-header{position:relative; border:0; top:0; left:0; z-index:1; padding:0; min-height:50px; max-height:100%;}
    .ui-m .ui-modal-header h1{font-size:20px; padding:15px 45px 10px; background-color:#333333; width:100%; min-height:50px; height:100%;}
    .ui-m .ui-modal-close{position:absolute; top:15px; right:10px; z-index:101; background-size:130px 130px; background-position:10px 10px;}
    .ui-m .ui-modal-full .ui-modal-head{padding:0;}
    .ui-m .ui-modal-full .ui-modal-close{right:0;}
    .ui-m .ui-modal-full .ui-modal{position:relative; padding:0;}
    .ui-m .ui-modal-full .base-landing,
    .ui-m .ui-modal-full .base-wrap,
    .ui-m .ui-modal-full .ui-modal-head,
    .ui-m .ui-modal-full .ui-modal-close{position:fixed;}
    .ui-m .ui-modal-full .backdrop{background:rgba(255,255,255,1);}
    .ui-m .ui-modal-wrap .btn-close{top:15px; right:15px}

/* dropdowns:z-index 100 ~ 199 */
.ui-drop{position:relative; display:inline-block;}
.ui-drop-pnl{position:absolute; z-index:100; background:transparent;}
.ui-drop-pnl,
.ui-drop-pnl[aria-hidden='true']{display:none;}
.ui-drop-box{background:#fff; border:2px solid #222; padding:10px; border-radius:10px}
.ui-drop-pnl .btn-close{position:absolute; top:6px; right:6px}
.ui-drop-pnl .btn-close:before,
.ui-drop-pnl .btn-close:after{background:#222}
.drop-backdrop{display:none; width:100%; height:100%; position:fixed; top:0; left:0; z-index:0; background:rgba(0,0,0,0.2)}
.drop-backdrop.on{display:block}

/* ui tooltip:z-index 200 ~ 299 */
.ui-tooltip{display:none; position:absolute; z-index:200; font-size:11px; border:1px solid #555; padding:10px; background:#fff; box-shadow:0 2px 10px rgba(0,0,0,0.3)}
.ui-tooltip-btn{cursor:help;}
button.ui-tooltip-btn{position:relative; width:14px; height:14px; border-radius:7px; border:1px solid #222; background:#fff; color:transparent; overflow:hidden; font-size:xx-small;}
button.ui-tooltip-btn:after{content:"?"; position:absolute; top:-1px; left:0; display:block; width:100%; height:100%; font-size:10px; color:#222; font-weight:700}
.ui-tooltip.ps-ct .tt-arrow,
.ui-tooltip.ps-cb .tt-arrow,
.ui-tooltip.ps-lt .tt-arrow,
.ui-tooltip.ps-lb .tt-arrow,
.ui-tooltip.ps-rt .tt-arrow,
.ui-tooltip.ps-rb .tt-arrow{content:""; position:absolute; display:block; width:10px; height:10px; background:#fff; border-top:1px solid #222; border-right:1px solid #222}
.ui-tooltip.ps-ct .tt-arrow{left:50%; bottom:-6px; transform:rotate(135deg); margin-left:-5px}
.ui-tooltip.ps-lt .tt-arrow{left:0; bottom:-6px; transform:rotate(135deg); margin-left:10px}
.ui-tooltip.ps-rt .tt-arrow{right:0; bottom:-6px; transform:rotate(135deg); margin-right:10px}
.ui-tooltip.ps-cb .tt-arrow{left:50%; top:-6px; transform:rotate(-45deg); margin-left:-5px}
.ui-tooltip.ps-lb .tt-arrow{left:0; top:-6px; transform:rotate(-45deg); margin-left:10px}
.ui-tooltip.ps-rb .tt-arrow{right:0; top:-6px; transform:rotate(-45deg); margin-right:10px}

